[2018-08-21 13:58] fingolfin opened #21 "Avoid underscores `_` as prefix for kernel functions"
To quote e.g. https://www.gnu.org/software/libc/manual/html_node/Reserved-Names.html

[2018-08-21 14:02] fingolfin opened #22 "gap_julia should check if julia_obj is an MPtr"
... if julia_obj is not an MPtr, it should take appropriate steps, e.g. raise an error; or return NULL and then let `call_gap_func` check for NULL, and raise an error / return a suitable "fail" indicator.

[2018-08-21 21:05] fingolfin commented on #21
There is no such convention in the GAP community that I'd know of. I know some example that use a single underscore, but even that's not that common. But that's actually not what I am concerned about here.

Rather, I am talking about the name of *C* function, not the name of the GAP function it implements, and these do not need to match. E.g. in the GAP kernel, the GAP function `Foo` is implemente

[2018-08-22 07:40] sebasguts commented on #21
Okay, then we can just use `Func` as prefix. I will change this.

[2018-08-22 07:42] sebasguts commented on #22
I would guess this should be an error then. Maybe try to convert it using the conversion function `__ConvertedFromJulia_internal`? Or would you think this is too implicit?

[2018-08-22 09:39] sebasguts commented on #21
Fixed.

[2018-08-22 09:39] #21 closed

[2018-08-22 09:45] fingolfin commented on #22
Well, that goes back to the question I had yesterday: Why is `ConvertedToJulia` called automatically, but `ConvertedFromJulia` is not? What you are proposing seems to suggest to call that automatically, too.

Personally, I'd rather go the other way: I would not perform *any* conversion except the bare minimum (i.e. dealing with T_INT / T_FFE when going from GAP to Julia) in both directions; at lea

[2018-08-22 09:46] sebasguts commented on #22
Yep, this seems reasonable.

[2018-08-22 09:47] fingolfin commented on #22
Ah, to clarify and finish that thought: if the input is a Julia object which is not an MPtr, or an T_FFE wrapper (or perhaps also a machine integer), then there is a choice between producing an error, or automatically wrapping it into a T_JULIA.

I think the latter is harmless and strictly superior to an error, as it is the bare minimum one needs to do.

A third option is to provide two functions:

[2018-08-22 09:47] fingolfin commented on #22
All in all though, this is just theoretical wanking, it's best to start writing more complex code, and then seeing what one ends up needing. I.e. be ready to revise whatever decision is made now ;-)

[2018-08-22 09:49] sebasguts commented on #22
Currently, this function is really just used in a single case: Calling GAP functions from Julia. I think making the object a `T_JULIA` is the most sensible option here (just did not think about it beforehand). That way, one can actually somehow pass Julia Objects itself to GAP functions.

[2018-08-22 09:51] sebasguts commented on #22
This also means that we might want to use a different pattern in other places.

[2018-08-22 10:13] fingolfin commented on #22
indeed, and based on that, one can easily write a Julia function which first passes all arguments through `ConvertedFromJulia`, if so desired.

[2018-09-18 08:40] fingolfin opened #25 "Clean up and merge gc_integration branch"
... and remove traces of the pre-Julia-GC-integration times.

[2018-09-18 09:24] fingolfin opened #26 "Consider dropping T_JULIA_FUNC and instead using T_FUNCTION objects with custom handlers"
Consider these timings, where `myfunc` is a simple Julia function that simply returns its first argument:
[code]
So Julia is not competitive at all for function calls.

I think this could be improved by using `T_FUNCTION` objects to wrap Julia functions; this avoids various slow paths in calling the current `T_JULIA_FUNC` objects.

To do this, you need to store the pointer to the julia function so

[2018-09-18 09:28] fingolfin opened #27 "Automatically unwrap MPtr Julia "objects" ?"
I wrote a Julia function which just returns its first argument, and put it into GAP variable `myfunc`. Now I get this:
[code]
It would be very convenient (and should be super cheap!) to instead return a this "MPtr" object as a regular GAP object. I.e., so that I'd get:
[code]

[2018-09-18 09:41] fingolfin opened #28 "What are the rules for conversion when calling from GAP to Julia, and vice versa? And why are they this way?"
It is right now rather unclear to me when and why something is converted when calling from GAP to Julia, and the other way around, and what the reason behind these decisions are. I think these should be carefully documented, and perhaps revised.

I was rather surprised when I discovered that calling a Julia function, which goes through a GAP `CallFuncList` method, automatically calls `ConvertedToJ

[2018-09-18 09:41] fingolfin commented on #28
(Un)boxing machine floats probably also is OK. Probably also converting `true` and `false`.

[2018-09-18 09:57] sebasguts commented on #26
There is a small caveat: We started by separating julia functions from objects by `T_JULIA_FUNC` and `T_JULIA_OBJ`, but I am not sure this was the right approach at all (we also dropped it to some extend).

We observed that Julia does not really separate between functions and "callable objects", i.e., objects that have an `()` operator. Can we also install handlers for a `T_JULIA`, unifying the tw

[2018-09-18 09:58] sebasguts commented on #27
Indeed, I will do this. Now with the integrated gc, this is sensible.

[2018-09-18 11:42] fingolfin opened #29 "Setup Travis (and Codecov?) for this package"

[2018-09-18 11:42] fingolfin opened #30 "Add more and systematic tests for all features"
My dream would be if TDD (test driven development was used)

[2018-09-19 16:20] fingolfin opened #32 "Merge LibGAP.jl into GAPJulia ?"
... as discussed during GAP Days Fall 2018

[2018-09-20 13:35] fingolfin opened #34 "JuliaInterface tests fail because `ImportJuliaModuleIntoGAP( "GAPUtils" );` fails"
The tests use `ImportJuliaModuleIntoGAP( "GAPUtils" );` which fails right now (@sebasguts tells me because `GAPUtils` now is `Main.GAPUtils` an this makes things complicated)

[2018-09-20 13:36] #22 closed

[2018-09-20 13:47] fingolfin opened #37 "JuliaImportPackage uses `JULIA_HOME` which doesn't exist in Julia 1.0"

[2018-09-20 13:57] fingolfin opened #38 "JuliaImportPackage uses `Exec`, should use `Process` instead"
`Exec` allows no error checking or input/output control.

[2018-09-20 15:11] #37 closed

[2018-09-21 08:16] sebasguts opened #42 "Use GAP's Julia version for compilation and linking"
Instead of prividing a flag for the Julia version to compile and link against, we should take the version GAP uses.

[2018-09-21 12:03] #26 closed

[2018-09-26 08:04] sebasguts opened #45 "Show unified stack traces"
Develop a way to show stack traces of both Julia and GAP function call stacks in the right order when an error occurs.

[2018-09-26 11:56] fingolfin commented on #45
So you want to display those stack traces interleaved. From the GAP side, I can imagine a way that would allow this at least in principle (with some considerable effort); basically, we can detect where a Julia function is called, and then at these points ask Julia to fill in the missing bits of the stack trace. But for this to work, also the Julia side needs to help us out, either by being able to

[2018-09-26 11:59] fingolfin commented on #29
The following is based on my memories from a discussion during GAP Days Fall 2018:

The main obstacle for this is that we need a compiled version of Julia with the patch from https://github.com/JuliaLang/julia/pull/28368

@sebasguts wanted to solve this by providing a Docker image with such a Julia in it. Of course that could then also contain a precompiled GAP, Singular, Nemo etc., everything we

[2018-10-05 22:20] fingolfin opened #47 "Add documentation"
Of course this may need to wait a bit more till the dust has settled, but this project definitely needs a lot more documentation

* developer docs (explaining various design decisions, e.g. what to convert when; and how and where various things are implemented, such as e.g. function calls).

* user guide: how to do various things from the GAP side resp the Julia side, with lots and lots of example

[2018-10-05 22:20] fingolfin opened #48 "Agree on kernel code formatting and add .clang-format file ?"

[2018-10-08 11:41] #25 closed

[2018-10-08 13:20] fingolfin opened #51 "Build system: drop need for --with-julia, always use the Julia against which GAP is linked"
I will work on this, by dropping autoconf+automake in favor of a `gac` based build system (as e.g. generated by the latest PackageMaker).

[2018-10-08 13:22] sebasguts commented on #51
See also #42

[2018-10-09 08:00] #48 closed

[2018-10-09 11:49] fingolfin commented on #51
Done in #53 by @sebasguts

[2018-10-09 11:49] #51 closed

[2018-10-09 11:49] fingolfin commented on #42
Done in #53 by @sebasguts

[2018-10-09 11:49] #42 closed

[2018-10-09 11:51] fingolfin opened #54 "Issues with Julia forking"
Right now, JuliaInterface contains this hack in `JuliaImportPackage`:
[code]
The reason for this (as I just learned from @sebasguts ) is that otherwise, Julia tries to compile the given package itself, which requires a fork; but that fails with some error (apparently in `libuv`)

For now, this workaround is good enough, but it'd be useful to figure out what exactly the problem is, and how to fix i

[2018-10-09 12:15] sebasguts commented on #54
This bug seems to be gone. I think we could savely remove this whole Exec stuff. This also applies to #38

[2018-10-09 12:36] fingolfin opened #56 "Revise `ImportJuliaModuleIntoGAP`"
@sebasguts came up with the following plan: the global variable `Julia` will point to a custom GAP object, for which methods for `\.` and `IsBound.` (and possibly `RecNames`) are installed. When accessing `Julia.foobar`, it queries if `Main.foobar` exists; if not, it errors out, otherwise that object is returned.

On the next level, Julia module objects (i.e., `jl_module_t`) are wrapped into custo

[2018-10-09 12:37] #38 closed

[2018-10-09 12:37] fingolfin commented on #54
Resolved by PR #55

[2018-10-09 12:37] #54 closed

[2018-10-09 12:48] fingolfin opened #58 "Idea: provide more "Julia" implementations of functionality inside the GAP kernel"
To avoid conflicts with things like forking, subprocesses, interrupt handlers etc., it might be worthwhile to add more (optional, of course) Julia integration into the GAP kernel. So e.g. the functions in GAP which start a subprocess via `fork` resp. `vfork` right now could install call the relevant Julia functions (resp. Julia kernel functions, resp. `libuv`).

[2018-10-09 13:32] sebasguts opened #60 "Error messages are just printed, not given to GAP"
Currently, the content of Julia error message is just printed to `stderr`, not returned to GAP.

Fix this by providing an `IOBuffer` for the `showerror` call, read out the string in this `IOBuffer`, and give it back to GAP.

[2018-10-09 13:52] #34 closed

[2018-10-10 07:26] fingolfin opened #63 "Document `JULIA_STARTUP_FILE_IN_GAP` resp. the custom support for `.julia/config/startup.jl`"
Also, make sure this feature is tested on Travis.

[2018-10-10 08:18] sebasguts commented on #56
This is resolved by #62

[2018-10-10 08:54] sebasguts commented on #29
This was resolved by @fingolfin in #59

[2018-10-10 08:54] #29 closed

[2018-10-10 11:46] #56 closed

[2018-10-10 11:59] sebasguts opened #65 "JuliaExperimental fails to load when Nemo not present"
Currently, there is a `using Nemo` in `utils.jl`, which produced an Error if JuliaExperimental is loaded when using a Julia without Nemo.

Maybe we should split up the `utils.jl` file and load the Nemo specific functions only if Nemo can also be imported into GAP?

[2018-10-10 12:58] sebasguts commented on #32
Currently, the Julia package manager seems to be very strict about the structure of a Julia module.
It needs to have a `deps` folder and `Manifest.toml` and `Project.toml` in its root folder.
So how would we want to unify it?

Currently, `LibGAP.jl` is not a proper Julia module at all. We could just make it another subfolder in this repo, and be okay with that we could currently not use it as a pr

[2018-10-10 15:08] wbhart commented on #32
I my opinion, it is worth thinking about whether a separate LibGAP package could have wider benefits for the community at large. I had always envisioned the two being a single Julia package, but it need not be that way if there is a good reason to keep them separated.

In short, you may increase the usership of GAP in the Julia community with one or the other approach.

[2018-10-10 15:49] ThomasBreuer commented on #32
`LibGAP.jl` and GAP's `GAPJulia` package belong together because they provide the two directions
of an interface between GAP and Julia, thus one wants to have them together;
from the viewpoint of Julia, it would be strange if one could not call some GAP functionality
just because it needs Julia.
(But this is only a logical dependency not a technical one,
and it would not cause real problems to hav

[2018-10-10 16:09] sebasguts commented on #32
Yes, that is indeed correct. We could even still pack it in GAP's `pkg` folder. It would just look ugly.

[2018-10-11 11:15] fingolfin opened #67 "Revisit GAP.GAPFuncs"
Right now, all GAP library level functions are automatically exported to Julia as `GAP.GAPFuncs` when the `JuliaInterface` package is loaded.

There are some issues with that, though: `AddGapJuliaFuncs` is only called once at the start, so any GAP functions added later on are not exported to Julia. This can be solved by calling the (currently undocumented) function `AddGapJuliaFuncs`. But I note t

[2018-10-11 11:55] fingolfin opened #68 "Benchmark and optimize calls from Julia to GAP functions"
Now that calls from GAP to Julia have been improved a lot, the same should be done for the other way around.

Right now, GAP function calls from Julia are handled via this function:
[code]
And then `call_gap_func` is defined like this:
[code]

Note that this always creates a plist, even if there is no argument, or only a few. Then the GAP kernel function `CallFuncList` in most cases (for <= 6 argu

[2018-10-11 12:06] fingolfin opened #70 "JuliaExperimental: replace INTOBJ_INT by ObjInt_Int8"
Using `INTOBJ_INT ` is not safe for inputs that don't fit into a GAP immediate integer. The simple fix is to use `ObjInt_Int8` instead. But I don't quite know how to test that code, so I'll leave it to somebody else to make that change.

[2018-10-11 12:14] fingolfin opened #71 "JuliaExperimental: incorrect use of AbsInt and GcdInt; create_rational is dangerous"
JuliaExperimental calls `AbsInt` and `GcdInt` with rationals as arguments, which cannot work and will lead to crashes and/or corrupt data.

Note there is a kernel function `AbsRat` which can be used instead of `AbsInt`. This function is also available on the GAP level as `ABS_RAT`, so it could also be called as `GAP.GAPFuncs.ABS_RAT`. However, this may be slower compared to the ccall, see also iss

[2018-10-15 07:55] fingolfin commented on #32
I propose the following plan: First, we update https://github.com/oscar-system/LibGAP.jl to work with the current version of GAPJulia (possibly on a branch there, as to not negatively affect the work by @CarloSircana in his `CarloLibGAPTest` repo). Once that works, we simply subtree-merge this into the GAPJulia repo, into a subdir `LibGAP.jl`.

[Alternatively, we could reverse the order, and first

[2018-10-15 08:15] sebasguts commented on #32
@fingolfin Okay. I would even do it more agressive:

Lets just subtree merge LibGAP.jl now, and then make it usable again with the current GAP. I do not see any issues for @CarloSircana right now. Afterwards, we will have to fix up the `CarloLibGAPTest`.

While making this a proper Julia module might be a desirable goal, I fully agree that this is something for the future we should not try to put

[2018-10-15 10:44] #32 closed

[2018-10-15 10:47] fingolfin opened #74 "GAP catches interrupt"
Import from https://github.com/oscar-system/LibGAP.jl/issues/2

@ThomasBreuer wrote:

@wbhart replied:

@sebasguts replied:

[2018-10-15 12:18] #60 closed

[2018-10-15 12:19] fingolfin opened #76 "Add a mechanism to easily "pin" references to Julia objects in our C code"
One way would be to add them to the GAP module state, as those automatically get marked. Or we could add these to "our" Julia module. Or we could set a custom `ExtraMarkFuncBags` in GAP to a function marking the relevant variables.

[2018-10-16 07:43] fingolfin opened #78 "Julia GC sometimes crashes in GAP"
There is a crash in the Julia-GC-integration in GAP, that sometimes occurs when running the GAP `testinstall` test suite several times in the row. @rbehrends and me reproduced it in the past, and could not track it down so far.

In addition, recently we have been seeing crashes in the JuliaInterface test suite (e.g. [here](https://travis-ci.com/oscar-system/GAPJulia/builds/87939969)) that look lik

[2018-10-16 08:41] ThomasBreuer commented on #65
This problem has been solved with pull request #77 .

[2018-10-16 08:41] #65 closed

[2018-10-16 08:52] sebasguts commented on #78
Indeed, I am getting this constantly when trying to load GAP from Julia.

You can reproduce it by getting my minimal version of LibGAP.jl here: https://github.com/sebasguts/GAPJulia/tree/startup_segfault

and then executing
[code]

[2018-10-16 12:50] fingolfin opened #79 "Implement convenience functions in Julia and in GAP for doing many common basic operations"
It would be very convenient if there were default Julia implementations for `getindex`, `setindex!`, `getproperty`, `setproperty!` that work on any `GapObj` (and raise an error if not applicable).

Here is some untested rough draft (without a working `LibGAP.jl`, it is a bit annoying to work on this)

[code]

[2018-10-18 09:43] fingolfin opened #82 "Generate coverage data for Julia code on Travis (for use in Codecov)"

[2018-10-18 13:45] sebasguts opened #86 "Make "official" API"
Currently, `JuliaInterface.h` contains some functionality that is used in `JuliaExperimental`, and could potentially be interesting for other packages using `JuliaInterface` and providing kernel extensions. Suggestions
* Clean up `JuliaInterface.h`
* Fix an API of safe to use functions
* Provide an API version number

[2018-10-19 11:19] fingolfin commented on #86
To define an *useful* API, though, we need actual users (i.e.: code actually using JuliaInterface), resp. use cases. I don't think it makes sense to develop such an API in isolation. So I'd recommend to put the priority for this issue very, very low until then.

[2018-10-22 14:25] ThomasBreuer opened #94 "intended behavior of `ConvertedToJulia`?"
Currently `ConvertedToJulia` seems to return its input when no corresponding Julia object exists.
For example, `ConvertedToJulia( Group( () ) )` returns the given GAP group.

In `JuliaInterface/src/JuliaInterface.c`,
`Func_ConvertedToJulia` calls `Func_ConvertedToJulia_internal`
and returns `Fail` if the result is zero, but the result is never zero.

[2018-10-22 15:27] ThomasBreuer opened #95 "redirect Julia's stderr?"
Currently Julia error messages are visible on the screen
but they do not appear in GAP's log files.
For example, the `ArgumentError: ...` line from the GAP session
[code]
is missing from the corresponding GAP log file.

Would it be possible to redirect Julia's stderr
such that GAP's stderr is used instead?

[2018-10-23 07:19] sebasguts commented on #95
This was already fixed in #60

[2018-10-23 08:11] fingolfin commented on #95
Not really, that only dealt with exceptions caught by us. Eg our test suite causes Julia to print warnings to stderr.
And strictly speaking, I guess one might also want to redirect their stdout

[2018-10-23 08:36] sebasguts commented on #95
Okay, the given example is nevertheless invalid, as this one is fixed. I will have a look at the testsuite.

[2018-10-23 15:10] ThomasBreuer commented on #79
Generic Julia methods would make sense also for `append!`, `push!`, `show` (here we get again the request for a working `ViewString` like feature in GAP),
and also for `=`, `<`, `+`, `-`, `*`, `/`, `^`, `mod`.

[2018-10-24 09:44] sebasguts opened #96 "How to organize Julia code"
I have been thinking lately about how to organize the Julia Interface code between `LibGAP.jl` and `JuliaInterface`. Currently, most of the code seems to be positioned arbitrary, and while `JuliaInterface` works without `LibGAP.jl`, the converse is false.

What would you think about `JuliaInterface` loading code from `LibGAP.jl`? I would then remove more Julia code from `JuliaInterface` and move i

[2018-10-24 10:43] wbhart commented on #96
That would probably depend on whether you want to make these standard Julia packages or not. As a standard Julia package it certainly couldn't depend on code not in the package, unless that other package is in the REQUIRE file.

One has to be a little careful how sharing of code happens. Julia can be installed on virtual machines and clusters. Also, a lot of system admins will install Julia for th

[2018-10-24 10:51] sebasguts commented on #96
Currently I do not see any problems with making this a Julia package, as all of this could be handled as "external" dependency. (I.e., GAP). I was more worried about making `JuliaInterface` a GAP package.

[2018-10-24 10:52] ThomasBreuer commented on #96
I think that users of `JuliaInterface` will probably need `LibGAP.jl`
because of its `from_gap` and `to_gap` functions.
Thus it would be good to guarantee that `LibGAP.jl` is always available.
And then it does not really matter where the actual code resides.

(By the way, we must be able to express, for GAP packages that rely on `JuliaInterface`,
which Julia packages are needed.
The GAP package ca

[2018-10-24 10:57] wbhart commented on #96
Ok, I misunderstood. I thought you were talking about having a Julia package for loading JuliaInterface, and then loading that from LibGAP.jl. Of course your question makes a lot more sense now.

[2018-10-29 21:18] sebasguts opened #100 "Add Julia structure for GAP finite field elements (immediate objects)"

[2018-10-29 21:19] sebasguts commented on #96
This is done in #97 for now

[2018-10-29 21:19] #96 closed

[2018-10-30 10:14] sebasguts opened #102 "How can we add tests for the Julia side of `GAPJulia`?"
I would like to add some tests to the Julia side of `GAPJulia`. The problem is that we need a path to an appropriate GAP executable to start GAP in Julia. So how can we add a portable test setup on the Julia side? Should we use environment variables?

[2018-10-30 10:50] fingolfin commented on #70
This was resolved by PR #97

[2018-10-30 10:50] #70 closed

[2018-10-30 10:54] fingolfin commented on #102
Well, how do you locally load LibGAP.jl into Julia? For my use, I have a shells script in LibGAP.jl, which starts julia and asks it to execute code like this:
[code]
So you could do something similar (and also in Travis), just add  third command which runs the tests (e.g. by executing `test/runtests.jl` to follow the Pkg.jl conventions). That script could be generated by a `./configure` script (we

[2018-10-30 10:55] fingolfin commented on #82
Resolved by PR #90

[2018-10-30 10:55] #82 closed

[2018-10-30 10:59] sebasguts commented on #102
Thanks for that suggestion, that is what we will do: Let the script be generated by the configure script!

[2018-10-31 23:11] fingolfin opened #113 "libgap.run_it should error out if GAP is already loaded"

[2018-10-31 23:18] fingolfin commented on #79
I think @sebasguts added the former, but the latter is still missing (as I just discovered). Also, none of this is being tested right now.

[2018-10-31 23:21] fingolfin opened #114 "Julia side calling into GAP must intercept GAP errors, too"
Just got this:
[code]

[2018-11-01 09:34] fingolfin commented on #79
Another generic method: `string`.

And all of these also should apply for `GapFFE`, too.

[2018-11-01 09:37] fingolfin commented on #94
See also issue #28 were I ask similar related questions

[2018-11-01 09:38] fingolfin opened #116 "Implement conversion between GAP large integers and Julia BigInt"

[2018-11-01 09:38] fingolfin commented on #100
Done in PR #109

[2018-11-01 09:38] #100 closed

[2018-11-01 09:40] fingolfin commented on #76
I don't think we need to keep this open as an issue, we'll just deal with it as/if it comes up.

[2018-11-01 09:40] #76 closed

[2018-11-01 09:43] fingolfin commented on #116
In addition, it might be useful to add methods for `==` and `<` and perhaps others which compare a GAP large integer and a Julia bigint; this can be implemented more efficiently than a conversion.

[2018-11-01 09:47] fingolfin commented on #116
Note that internally, a Julia `BigInt` looks like a GMP `mpz_t` (and uses GMP). That means we can adapt existing conversion functions from GAP resp. from e.g. NormalizInterface

[2018-11-01 12:11] fingolfin commented on #67
This was resolved by PR #97

[2018-11-01 12:11] #67 closed

[2018-11-01 12:42] fingolfin commented on #30
For example, the new GapFFE code added by @sebasguts doesn't seem to be used by any test at all.

[2018-11-01 12:51] fingolfin commented on #79
In addition, the converse would also be nice: I.e. to have methods for `\[\]`, `\=`, `\<` etc. in GAP for Julia objects.

[2018-11-01 15:06] #102 closed

[2018-11-01 20:02] fingolfin opened #119 "NewPlist used incorrectly in `to_gap` method"
The following code creates a plist of capacity `length(v)` but size 0 (!), then fills it, but never sets the length.
[code]

[2018-11-01 20:39] fingolfin commented on #78
The following code snippet always crashes Julia with LibGAP.jl loaded, at least for me:
[code]
Here is the stack trace:
[code]

@rbehrends it would be great if you could have a look at this, too.

[2018-11-02 08:41] fingolfin opened #122 "crash in getproperty for GAPFuncsType"
Asking for `GAP.GAPFuncs.TRANSDEGREES` segfaults, because `TRANSDEGREES` is an immediate integer, but our code does
[code]
so it expects an MPtr. Return type should instead be a union of MPtr, GapFFE, Int64.

Even with that fixed, that code should still also check that what it got is a function.

[2018-11-02 08:43] fingolfin opened #123 "Improve cache in getproperty for GAPFuncsType"
That cache is problematic, because it will become out of date if the identifier is changed on the GAP side.

This problem could be avoided, while still retaining most of the performance gain (which in turn I believe mostly stems from avoiding to convert a jl_symbol into a GAP string object), if instead of caching the function pointer, we cached the GAP GVar (an plain UInt value). Then that GVar va

[2018-11-02 08:44] fingolfin commented on #123
Of course it might be useful to benchmark the various approaches. Code which needs optimal performance should also copy the function out, i.e. `myfunc = GAP.GAPFuncs.myfunc`, then call that. So I'd compare that in the benchmark, too. I'd do it now, except for the crashes, see PR #121

[2018-11-02 09:08] sebasguts commented on #119
We need to set it in the `NewPlist`constructor in libgap. See https://github.com/gap-system/gap/pull/2963

[2018-11-02 10:46] sebasguts commented on #119
Okay, when investigating this, the list seems to be all right. `[]` uses `ASS_LIST`, so it should set the length correctly:
[code]

[2018-11-02 15:05] fingolfin commented on #119
Indeed, I was totally wrong. Sorry!

[2018-11-02 15:05] #119 closed

[2018-11-02 23:18] fingolfin commented on #79
I just noticed that JuliaExperimental provides the latter (GAP helpers to map + to Julia's +, etc.) in its `arith.gi` file. Now I wonder if that shouldn't be moved to `JuliaInterface`?

[2018-11-04 14:08] fingolfin commented on #123
So one argument for keeping the cache as-is, which I overlooked before, is that  each GAP object is wrapped into a Julia `GapFunc` object. But I wonder why: couldn't the Julia function call function simply be defined for `MPtr` instead? Since creating a `GapFunc` performs no additional error checking, there seems to be no convenience lost, is there?

[2018-11-05 10:33] sebasguts commented on #123
Well, technically we could overload the `()` operator for all `MPtr`, no problem. I think this is a sensible addition anyway.

The caching is of course done for speedup only, but you are right, it is potentially dangerous. I would suggest the following:

* Drop the `GapFunc` type.
* Rename the `GAPFuncs` variable into something like `GAPObjs`, and do the caching with the `gvarnum`.
* Allow calling

[2018-11-05 14:50] fingolfin commented on #123
Sounds good to me. One more remark, though: all the other "convenience" wrappers for GAP functionality from within Julia are now in `LibGAP.jl/src/gap.jl`, only the "call function" one is in `JuliaInterface/julia/gaptypes.jl`. I don't see a reason for that, and would suggest moving it to `LibGAP.jl`, too.

[2018-11-05 15:28] #113 closed

[2018-11-06 08:13] fingolfin opened #134 "Questions on technical aspects of writing the manual(s)"
I am wondering how best to write documentation for GAPJulia. The natural move is to document GAP code via GAPDoc and/or AutoDoc; Julia code via their system; and C code... not so much (or maybe via GAPDoc).

And for a lot of stuff this may be fine; but then there is a lot of commonality, too: Like, right now I am working on some text which discusses data conversion, and that would be of interest t

[2018-11-06 08:34] fingolfin commented on #74
The problem exists in the other direction, too: When using `JuliaInterface`, using Ctrl-C immediately kills GAP instead of entering a break loop.

[2018-11-06 11:00] sebasguts commented on #74
Julia supports setting a signal handler, using `jl_install_sigint_handler`. Should we set it to the GAP `SIGINT` handler in JuliaInterface after `Julia` is loaded?

[2018-11-06 15:17] #123 closed

[2018-11-07 14:38] sebasguts commented on #122
Resolved in #139 by @fingolfin

[2018-11-07 14:38] #122 closed

[2018-11-07 22:14] fingolfin opened #146 "Share conversion code between LibGAP.jl and JuliaInterface"
Right now, many conversions are implemented twice: once in the GAP C kernel extension, see e.g. `_ConvertedFromJulia_internal` and `_ConvertedToJulia_internal`; and once in Julia, see `from_gap` and `to_gap` in `LibGAP.jl/src/conversion.jl`.

There are multiple problems with that:
* we have to duplicate a lot of work
* which conversions resp. types are supported can and will differ
* error checkin

[2018-11-08 13:14] sebasguts commented on #95
@fingolfin I cannot really find a place where the testuite prints errors to the screen. Can you point this out?

[2018-11-08 14:15] #114 closed

[2018-11-13 13:05] fingolfin commented on #79
We moved the GAP wrappers for Julia arithmetic to `JuliaInterface` in PR #132. So far it is purely on the GAP level. We could of course looking into also doing it via the GAP dispatch tables, though it's not completely clear to me that this would be worth it.

[2018-11-13 13:05] #79 closed

[2018-11-13 13:09] fingolfin commented on #78
This was improved a lot by
https://github.com/gap-system/gap/pull/2969

[2018-11-13 15:18] #71 closed

[2018-11-15 10:08] fingolfin opened #161 "Rename GAP.GAPObj -> GAP.Obj; GAP.GapFFE -> GAP.FFE; ..."

[2018-11-15 14:29] fingolfin opened #162 "Deal with Julia rationals 1//0 and -1//0"
By chance I just learned that Julia allows rationals with denominator `0`, which are then normalized to `1//0` and `-1//0`. For these, `isinf` returns `true`, and they seem to behave like infinities.

I propose to convert these to GAP's `-infinity` and `+infinity`.

[2018-11-22 16:29] #146 closed

[2018-11-22 16:29] #162 closed

[2018-11-22 16:29] #116 closed

[2018-11-22 19:56] ThomasBreuer opened #164 "How to deal with Julia's error messages in test files?"
GAP's function `Test` treats GAP's error messages in a special way,
only the first line of the message is expected in the test file,
not the whole message that appears in a normal GAP session.

When a Julia error happens, `Test` seems to expect the whole error message.
This is problematic because the message contains file paths.

Is there a way to teach `Test` to be happy with the first line of th

[2018-11-22 20:12] fingolfin opened #165 "GAP.gap_to_julia(Array{Int64,1},1) leads to infinite recursion"
[code]

[2018-11-22 20:35] ThomasBreuer opened #167 "problem with conversion from GAP to a prescribed Julia type?"
In order to create a Julia array of strings from a GAP list of strings, one can do the following.

[code]

When I try to skip the intermediate step, by giving the intended type information to `GAPToJulia`,
I get the following.

[code]

[2018-11-22 20:47] fingolfin commented on #167
Heh, and the Julia version leads to a nice segfault:
[code]

[2018-11-23 08:31] fingolfin commented on #167
OK, so part of the problem is that we actually don't have a conversion to `String`, only to `AbstractString`. Both examples work if one replaces `String` by `AbstractString`.

But if one specifies an unsupported conversion, the system currently runs into an infinite recursion (see also issue #165), and then sometimes Julia manages to catch it, and sometimes not (because GAP also deepens the call s

[2018-11-23 08:42] sebasguts commented on #167
So, a quick fix is replacing the `AbstractString` in `gap_to_julia` with `String`.

The current return type of the conversion to `AbstractString` is `String` anyway, so I would guess having a fallback there is also no problem.

[2018-11-23 09:12] #165 closed

[2018-11-23 09:12] #167 closed

[2018-11-23 11:02] #161 closed

[2018-11-26 13:05] fingolfin opened #175 "Naming conventions: JuliaGetGlobalVariable vs. JuliaFunction"
I was wondering why it is `JuliaGetGlobalVariable` versus `JuliaFunction`, `JuliaModule`, `JuliaSymbol`, ... Shouldn't it be just `JuliaGlobalVariable`?

[2018-11-26 23:45] fingolfin opened #176 "Strings which are not stringreps are not handled by `show` method and probably others"
Example:
[code]

[2018-11-27 00:07] fingolfin opened #177 "Add support for converting Julia Byte Array Literals / Base.CodeUnits to/from GAP strings"
See https://docs.julialang.org/en/v1/manual/strings/#man-byte-array-literals-1

[2018-11-27 09:08] sebasguts commented on #175
I guess you are right here :). Will provide a PR.

[2018-11-27 09:31] sebasguts commented on #176
The main problem is that `show` simply uses GAP's `String`. I would guess it should use `ViewString`.

This does not solve the issue:
[code]

[2018-11-27 13:38] fingolfin commented on #176
We could suitably call the GAP kernel functions `ConvString` or `IsStringConv` to overcome this

[2018-11-27 15:17] sebasguts commented on #176
Sounds reasonable.

[2019-01-14 12:48] fingolfin opened #187 "Data corruption computing character tables"
See https://github.com/gap-system/gap/issues/3114

This leads to an unexpected break loop when using the Julia GC instead of GASMAN:
`g:= AtlasGroup( "U3(8).3^2" );; Irr( g );;`

[2019-01-17 13:54] fingolfin commented on #187
A good way to get into a break loop just before the error happens is to apply this patch:
[code]

From that break prompt, I can trigger the issue just by printing `T[2]`; it seems that this triggers a GC, and apparently the master pointer for `T[2]` is freed, and then reused. To be clear: The content of the plist `T` of length 2 stays unchanged, but the master pointer stored in its second slot now

[2019-01-21 13:01] fingolfin commented on #187
Resolved by
https://github.com/gap-system/gap/pull/3199

[2019-01-21 13:01] #187 closed

[2019-02-13 08:59] fingolfin opened #197 "Implement GAP's ShallowCopy and StructuralCopy resp. Julia' copy and deepcopy; and, closely related, handle (GAP's) mutability"
Right now, on the GAP side, all T_JULIA wrappers are marked as immutable. This allows us to provide trivial copying operations for those objects. But of course this unsatisfying, and has immediate undesirable side effects; e.g. we can't implement `julia_list[idx] := val;` on the GAP level, as the kernel helpfully prints a common error message for assigning to immutable objects.

So, we need someth

[2019-02-18 16:01] fingolfin opened #200 "Provide easy installation on Julia side via `Pkg.add(URL)` etc"
Installation for Julia users should be made easier,  ideally allowing them to just type `] add GAP` on the long run.

Of course this raises various technical issues, which we perhaps can describe and discuss here over time. I just wanted to have this issue now as a place holder.

One of the issues is: which GAP to use -- we probably need to / want to build our own (and if we ignore most packages,

[2019-02-19 09:13] sebasguts commented on #200
This is indeed a delicate issue.

First of all, GAPJulia does not have the structure of a Julia module, and I am not sure if we can achieve this.

Also, the way LibGAP.jl loads its Julia files might not be compatible with the Julia package manager.

Having to compile our own GAP, making it executable, or hooking into a preinstalled one is IMHO a minor issue. Julia build scripts are basically shell

[2019-02-21 16:10] sebasguts commented on #200
So, the proposal for doing this:

* We move all Julia files from LibGAP.jl into JuliaInterface, except for `initialization.jl`. The files are read in by JuliaInterface anyway, so it does not realy matter.
* We move JuliaInterface and JuliaExperimental into a `pkg` subfolder of GAPJulia, so GAPJulia can be used as a GAP root.
* We then make GAPJulia a proper Julia package, by adding the `.toml`s, p

[2019-02-26 10:05] frankluebeck commented on #200
Cannot the structure be useful as GAP packages and as Julia package at the same time?
For that it would be better to leave the folders  JuliaInterface and JuliaExperimental where they are now (such that the repository can be put in a GAP `pkg` directory, as we did so far). Is it possible to put
a link from `.` to `pkg` on the top level, such that the method with an extra GAP root directory works a

[2019-02-26 10:21] sebasguts commented on #200
For the second part: Yes, I already implemented it that way here, although I am not yet finished (ETA tomorrow).

For the first part: I think it is actually more useful to have a `pkg` subfolder, that way we could set it as a `GAPROOT`, which is easier than convincing julia to look somewhere else for the package.

[2019-03-08 11:49] fingolfin opened #208 "Rename repository to GAP.jl ?"
Thoughs? @ThomasBreuer @sebasguts ?

[2019-03-08 11:52] fingolfin opened #209 "Various minor issues after conversion to Julia package"
- [x] the `README.md` file in the root dir is heavily outdated and should be updated
- [x] `etc/gather_coverage.jl` should be updated to fix coverage computation
- [x] remove remaining references to `LibGAP.jl`
- [x] update Travis setup to both test "GAP installed via build.jl", and "GAP installed separately"

[2019-03-08 11:53] fingolfin commented on #200
Most of this was resolve by PR #207, we now should take care of issues #208 and #209; in particular, for things to be "easy", they should be documented.

[2019-03-08 12:06] sebasguts commented on #208
I am all for it.

[2019-03-11 10:40] sebasguts commented on #209
Done in #210 and #211

[2019-03-11 10:40] #209 closed

[2019-03-11 10:41] sebasguts commented on #208
@ThomasBreuer What is your opinion on this?

[2019-03-11 12:37] ThomasBreuer commented on #208
As I had myself raised the question to rename the repository
(in a discussion about a pull request), I do of course agree.

[2019-03-11 12:50] sebasguts commented on #208
Okay :) Then we will do this once we fixed those travis problems ...

[2019-03-11 14:07] #208 closed

[2019-03-11 14:58] sebasguts commented on #200
Done.

[2019-03-11 14:58] #200 closed

[2019-03-11 15:01] sebasguts commented on #94
I think this issue does not really apply to our current code anymore, as we only have `GapToJulia` and `JuliaToGAP` left, right?

[2019-03-27 14:47] ThomasBreuer opened #223 "problem with tests for build #620 in Julia nightly"
One out of four Travis tests for build #620 fails due to a segmentation fault when `JuliaInterface/tst/calls.tst` is executed.
This happens with Julia nightly but not with Julia 1.1.
It seems to be reproducible, as I got notifications about the failure yesterday and today.

[2019-03-27 19:20] sebasguts commented on #223
I see. It is weird that this only happens for one of the GAP's, and not both. This might be the case due to travis caches.

I will investigate that failure.

[2019-04-05 20:04] sebasguts commented on #223
I am sorry, but I was not able to reproduce this failure on my machine alone. It is constantly happening in Travis for both builds with nightly Julia now, so I guess we should put more time in it.

[2019-04-05 20:07] sebasguts commented on #223
Actually, this was a bit too hastly. I did not look at the error messages. The current failures are all GC bugs, so maybe there is something new broken in there?

[2019-04-14 12:47] sebasguts commented on #223
The problem disappeared, to we can close this for now...

[2019-04-14 12:47] #223 closed

[2019-05-02 08:10] gangchern opened #230 "I can not install GAP.jl in Mac.10.13.4"
] add https://github.com/oscar-system/GAP.jl
┌ Error: Error building `GAP`:
│ Cloning into 'gap'...
│ + autoconf -Wall -f
│ ./autogen.sh: line 5: autoconf: command not found
│ ERROR: LoadError: failed process: Process(`./autogen.sh`, ProcessExited(127)) [127]
│ Stacktrace:
│  [1] error(::String, ::Base.Process, ::String, ::Int64, ::String) at ./error.jl:42
│  [2] pipeline_error at ./process.jl:785

[2019-05-02 08:16] sebasguts commented on #230
Hey, thanks fo using `GAP.jl`. It looks like your Mac is missing autotools. If you have homebrew, you can do
[code]
and the installation should succeed. Maybe @fingolfin can also say something about this?

[2019-05-02 09:10] fingolfin commented on #230
Sorry for the hassle, but that's an artifact of GAP.jl still being very much under heavy development.

Probably best to install *all* packages suggested by the GAP build instructions. So:

 * using Homebrew: `brew install autoconf libtool gmp readline`
 * using Fink: `fink install autoconf2.6 libtool2 gmp5 readline7`
 * using MacPorts: `port install autoconf libtool gmp readline`

That said, only

[2019-05-02 10:02] gangchern commented on #230
Hi, max
Thanks for your quick reply. Right now I have installed the following packages

Some errors have really solved. But there is still errors. The report is as following. Could you tell me how to fix these errors? Thanks a lot.
Error: Error building `GAP`, showing the last 100 of log:
│ config.status: creating gen/config.h
│ config.status: executing gen/stamp-h commands
│ config.status: execut

[2019-05-02 10:19] fingolfin commented on #230
It seems you also need to `brew install wget`. Sorry for the hassle.

[2019-05-02 16:47] sebasguts commented on #230
We will add this to the Readme for now :)

[2019-05-02 17:04] gangchern commented on #230
Thanks a lot. It is really helpful

[2019-05-16 09:38] fingolfin opened #235 "GAP Error shows up in Julia tests, but does not lead to failure (happens on Travis)"
The following is seen in a successful (!) [Travis build](https://travis-ci.com/oscar-system/GAP.jl/jobs/200649781)
[code]
We should fix this error; also I am kind of worried that it doesn't lead to a test failure; perhaps we should first improve our setup to ensure it does fail the Travis test, before actually fixing it.

[2019-05-16 09:40] fingolfin opened #236 "Travis fails to collect coverage data, errors out"
On this successful (!) [Travis build](https://travis-ci.com/oscar-system/GAP.jl/jobs/200649781), we see the following Julia exception (which however, does not lead to the job as being marked as failed, which I find worrying):
[code]

[2019-05-16 09:43] fingolfin opened #237 "If GAP is the host, and Julia embedded, we should perhaps catch Julia's screen output (at least for errors)"
Right now, running the `JuliaInterface` test suite from within GAP prints this:
[code]
These "WARNING: cfunction: return type of h6 does not match" messages are printed by Julia. I think we should catch them and add a way for the user to query these strings if desired; alternatively, we could turn the Julia error into a GAP error, by calling something like this pseudo code: `ErrorQuit("Julia run i

[2019-05-16 09:46] fingolfin commented on #237
I guess this (partially?) duplicates issue #95

[2019-05-16 09:46] fingolfin commented on #95
@sebasguts see issue #237

[2019-05-16 11:54] ThomasBreuer commented on #235
The error message is printed by GAP.
It comes from the input line `@test_throws ErrorException xx[4]` in the file `test/basics.jl` of GAP.jl,
where `xx` is a GAP list of length 3.
The intention is to test whether an error is signaled in this situation,
as suggested in the section "Unit Testing" of Julia's documentation.

Thus it is correct that the tests are regarded as successful.

The point seem

[2019-05-16 12:20] fingolfin opened #240 "Provide replacement for GAP kernel function `SyExecuteProcess`"
... which uses `fork` resp. `vfork` resp. `spawnve`.

I imagine we might be able to pull that off entirely from within `JuliaInterface`, by simply replacing `SyExecuteProcess` on the GAP level.

As to implementing the replacement, it might be possible to write all of it in Julia (and that would be my preferred solution).

[2019-05-16 12:28] sebasguts commented on #235
Indeed. The error message there is intentional, and its appearance is right :)

[2019-05-16 12:42] fingolfin opened #241 "Provide replacement for GAP kernel functions dealing with "iostream" (for launching and communicating with child processes)"
Similar to issue #240, we should provide alternatives to GAP's `iostream` functions, which also are about launching and interacting with child processes.

One way to go about this would be to replace all the kernel functions provided by that module:
[code]

Alternatively, we could replace the GAP-level code wrapping these low-level functions; it is completely contained in GAP's `lib/streams.gi`, s

[2019-05-20 11:19] sebasguts opened #242 "Prepare for Release with Julia"
We should release GAP.jl for the Julia package manager, so we can do
[code]
in Julia. Atm, the following things need to be done beforehand:

- [x] Update author information
- [ ] Update README.md
- [x] Add version numbers

[2019-05-21 15:55] sebasguts opened #246 "Add possibility to add custom GAP packages"
By either providing a possibility to add `GAPROOT` paths to GAP or by providing an additional `pkg` folder in `JULIA_DEPOT_PATH`

[2019-05-22 14:29] ThomasBreuer commented on #246
If the question is just to extend the list stored in `GAPInfo.RootPaths`
then one can call the GAP function `ExtendRootDirectories`.

Root paths added this way are not considered already when GAP starts,
but this is not relevant from the viewpoint of a Julia user who loads `GAP.jl`
and then wants to load some user specific GAP packages,
because Julia starts GAP with the `-A` option and thus essent

[2019-06-03 06:20] gangchern opened #247 "LoadPackage errors"
When I try to use the JuliaInterface. I try

But it returns errors  as following
[code]

Then I try to compile juliaInterface following the general instructions like

But it also return errors
[code]

How can I do then? BTW, the gap have been compiled successfully.

[2019-06-03 16:37] ThomasBreuer commented on #247
Thank you for your report.

From the paths that show up in your message, it looks as if you are not simply installing `GAP.jl` and its underlying GAP via Julia's package manager,
but you have already an installed version of GAP (compiled with Julia's garbage collector),
*and* you have put the contents of the `pkg` subdirectory of `GAP.jl` into the `pkg` subdirectory of this GAP installation.

If t

[2019-06-04 05:57] gangchern commented on #247
Thanks for your kind reply. The problem is solved.
Now I can use the following to load the package. I meet another problem. How to call the functions in the package? For example, I load the package "toric"

The output seems correct

[code]
Then I try to use the function "InDualCone" in the package

But it does not work. It throw an error:
[code]
Could you tell me the correct way to call a function

[2019-06-04 07:38] sebasguts commented on #247
@gangchern As for the `toric` string, you need to convert the input data into GAP objects, i.e., the correct way of calling the function would be
[code]

[2019-06-04 11:49] fingolfin commented on #247
BTW, you can also use `g"bla"` to create GAP string, so to load `toric`, you can also write `GAP.Globals.LoadPackage(g"toric")`

[2019-06-04 12:20] sebasguts commented on #242
Done

[2019-06-04 12:20] #242 closed

[2019-06-16 12:26] fingolfin opened #254 "Get GAP to use the same GMP as Julia, Nemo, ..."
... by passing suitable build flags to it. That said, I don't even know if Nemo and Julia really use the same GMP right now? In any case, we should at least try to link against a foreign GMP, or even against our own GMP (built by GAP if it cannot find any "global" GMP installation).

[2019-06-16 12:27] fingolfin commented on #230
@sebasguts you never added `wget` to the README, did you?

We might also want to change GAP to work with curl instead of wget (as curl is arguably available on more systems), resp. in addition. See also here: https://github.com/gap-system/gap/issues/1866

[2019-06-16 12:29] fingolfin commented on #247
@gangchern did that resolve your issues?

[2019-06-16 16:34] fingolfin commented on #235
Of course the error is intentional, but I disagree that its appearance in this place is right. Rather, this is a bug: GAP prints its error message directly to the terminal, which it should not. I am not sure *what* should happen, but not this.

[2019-06-16 17:16] gangchern commented on #247
Hi, thanks for asking. The GAP works well now.
Cheers
Gang

[2019-06-16 17:29] #247 closed

[2019-06-19 06:54] thofma opened #265 "Make GAPTypes.jl a dependency in the Project.toml"
Otherwise you get
[code]

[2019-06-19 07:07] thofma opened #266 "Using GAP.jl makes julia slow (unusable?)"
Pretty cool that GAP.jl is working! Unfortunately we were seeing severe performance regressions after doing `using GAP` (although the code did not use any GAP functionality). We boiled it down to the following example. This is with a fresh install of `GAP.jl` and `GAPTypes.jl`:
[code]
So a slowdown by a factor of `3x` by just doing `using GAP`. I have other examples where, after `using GAP`, a fun

[2019-06-19 07:30] mohamed-barakat commented on #266
I can confirm the behavior with `GAP.jl` alone. This is a serious issue. Thanks for reporting.

[2019-06-19 07:33] fingolfin commented on #266
@thofma thanks for the report. That is of course unacceptable!

@rbehrends can you look into this? We first need to establish the exact cause of this. Of course the immediate suspect is the stack scanning. Which makes me wonder if we can't implement one immediate workaround for the case were GAP is launched from Julia (the one that is relevant here): Namely, if we are *not* inside GAP code, we don

[2019-06-19 07:37] fingolfin commented on #265
This will be taken care of by PR #249 which will be merged soon.

[2019-06-19 07:39] thofma commented on #265
Sorry, I did not see the PR.

[2019-06-19 07:48] fingolfin commented on #265
Sure thing! I didn't mean to imply that you should have known about it (IMHO there is no reason for this -- I am not aware of most AbstractAlgebra PRs either). I just added the comment for reference.

[2019-06-19 07:51] fingolfin commented on #266
Just to make it explicit, I am talking about `GAP_EnterStack_()` and `GAP_LeaveStack_()`. Though I am not sure whether we can use them from pure Julia, as we'd need the equivalent of `__builtin_frame_address(0)`, I think. On the Julia c kernel level, there is `jl_get_frame_addr`, a macro, and also `gc_get_stack_ptr`; perhaps we could use the latter.

[2019-06-19 08:57] rbehrends commented on #266
I can kind of reproduce it, though in my case I "only" have a ~33% overhead.  This may be due to architecture-specific differences, though. The culprit is `GapTaskScanner()`, the function responsible for scanning task stacks (but not the actual main stack, which is where the work happens).

Normally, scanning task stacks should *not* be that much of a problem. For starters, due to generational GC,

[2019-06-19 10:09] rbehrends commented on #266
The biggest issue right now seems to be that task stacks seem to be scanned every minor collection, regardless of whether they've been touched in the meantime, rather than just every major collection. This may be an issue for Julia with large task stacks, too, though I'll have to investigate that more closely.

[2019-06-19 10:32] fingolfin commented on #266
Which makes me wonder: did we ever test what happens if GAP is called from a task? Is this even supposed to work right now? If so: we definitely should add test cases for this

[2019-06-19 10:36] rbehrends commented on #266
GAP is currently being called from a task when loaded as a Julia module, as far as I can tell. And yes, it is supposed to work; we have specific logic in `GapRootScanner()` to deal with that case.

Which doesn't mean that some other things can't go wrong, but in principe that use case is accounted for.

[2019-06-19 12:15] rbehrends commented on #266
I've committed a quick fix [here](https://github.com/rbehrends/gap/tree/julia-gc-perf-quickfix). I'm not yet positive that it handles the generational issues cleanly (and may require more tweaking for that), so I'm not yet going to turn it into a PR, but it does fix the performance regression for me.

[2019-06-19 14:27] #265 closed

[2019-06-20 17:59] rbehrends commented on #266
I've updated the fix (same branch as above) to be more robust. However, in its current version it is implemented in C++, and we need to think about whether that is okay for GAP (other parts of GAP do use C++ already, but I'm not sure what the constraints are) and whether we need more testing for it due to some non-trivial changes. However, for now it should work for anybody who cannot wait for a p

[2019-06-23 21:55] fingolfin commented on #47
The documentation could also include  examples which at the same time also serve as tests, similar to how we do it in GAP, see https://juliadocs.github.io/Documenter.jl/stable/man/doctests/

[2019-06-30 14:37] mohamed-barakat opened #273 "Merging PR #272 caused `fatal: refusing to merge unrelated histories`"
Merging PR #272 and rebuilding GAP

[code]
caused the following error:

[code]

I worked around it by invoking
[code]
in `~/.julia/dev/GAP/gap`.

[2019-06-30 14:41] fingolfin commented on #273
Using `--depth=1` like that is very problematic, because, well, we discard all history -- so of course it can't really merge it. To fix this, it probably suffices to get rid of all `--depth` arguments to `git`. And of course switching to a release version of GAP like 4.10.2, would also get rid of this problem.

[2019-06-30 14:44] mohamed-barakat commented on #273
Yes, I am in favour of getting a stable release with documentations already created.

[2019-07-08 08:38] fingolfin commented on #273
I believe this will is fixed (at least for fresh installations) by PR #274, which already has been merged.

[2019-07-08 08:38] #273 closed

[2019-07-08 12:48] fingolfin opened #275 "Flaw in recursive conversion in `gap_to_julia`"
This is a hypothetical bug, though I am fairly certain one can construct actual problematic examples: `gap_to_julia` caches conversion results in an `IdDict` with name `recursion_dict`. This is meant to ensure that if an object occurs multiple times in the input, it is each time mapped to the same / identical object in the output.

But at the same time, we allow the user some degree of control ove

[2019-07-10 07:00] markuslh opened #277 "GAP not starting when installed via GAP.jl"
Setting: Ubuntu in WSL, the packages in `https://oscar.computeralgebra.de/install/` are all installed. `GAP.jl` is installed in Julia as dev-package.

GAP runs when called from Julia, however, I cannot get GAP to work from bash.

[code]

I get the same errors when calling the GAP-binary directly.

[2019-07-10 09:57] fingolfin opened #278 "Converting list to tuple with gap_to_julia may not preserve length"
I am not sure whether this is a bug or a (mis-)feature, but while trying to understand the tuple conversion code, I noticed this:
[code]

I think this should instead throw an error. So the tuple conversion function should check that the length of the input list and the desired output tuple type match. Then, it could also be simplified, I think, by iterating over the entries of the input GAP list d

[2019-07-10 10:59] ThomasBreuer commented on #278
I agree that it should be regarded as an error when the two lengths are different.
(One gets a `BoundsError` when the list is *shorter* than the description of the Julia type.)

[2019-07-17 12:56] ThomasBreuer opened #280 "memory problem with the Julia integration of GAP and Polymake"
Currently Klaus Lux is using our setup for certain computations, which means that one starts GAP (the master branch, using Julia's garbage collector, plus some unpublished GAP packages that consist only of interpreted GAP code) and loads its JuliaInterface package, which loads Polymake.jl into Julia and then uses the GAP-Julia interface to call (frequently) some Polymake functions. This works fine

[2019-07-17 14:53] ThomasBreuer commented on #280
Here are the Julia and GAP interface code which are involved.
First the Julia module:
[code]
And now the GAP code:
[code]

[2019-07-17 19:05] kalmarek commented on #280
@ThomasBreuer this looks very clean to the point I wonder if the problem might be on the polymake(.jl) side.

could you provide a sample ` mat`, `obj` and `intvars`? (easy, but not trivial example)

If i understand correctly `IsSolvableSystemOfInequalities` is superfluous here?

[2019-07-17 19:10] fingolfin commented on #266
@thofma @mohamed-barakat The fix has now been merged into the GAP master branch. Would be great if you were able to verify that it fixes the regression for you. Then we can get it into GAP 4.11, which I hope we'll then be able to release in August.

[2019-07-17 19:27] fingolfin commented on #266
With the fix in place, I am now getting this:
[code]

So there still is a slow down, but rather minor. It would still be good to know how e.g. those tests @thofma mentions (where GC takes 99% of the time) now fare.

[2019-07-17 20:28] rbehrends commented on #266
Hmm, this is a bigger slowdown than I experienced when I last tested it (where it was difficult to even reproduce a slowdown). I'll have to look at why there may still be residual issues.

[2019-07-18 06:20] sebasguts commented on #280
@kalmarek I do not believe in a Polymake.jl issue, but rather that the PR @fingolfin and I provided solved this.

Nevertheless, @ThomasBreuer, if you would have an example to reproduce this, it would be great to have a test for this.

[2019-07-18 09:48] ThomasBreuer commented on #280
@kalmarek, yes, `IsSolvableSystemOfInequalities` does not show up in the error case.
I had included it for the sake of completeness, because it is the only other function besides `MinimalIntegralSolution` that uses Julia and occurs in the computations.

I do not have example code to reproduce the error case, currently we are testing the fix proposed by @sebasguts; this will take some time.

[2019-07-18 09:53] kalmarek commented on #280
@ThomasBreuer I understand that reproducing error is hard and I don't ask for such an example.

Any (non-trivial) example input to call the code would do, so that I can generate more examples alike and repetitively run them putting some stress on the GC and julia ↔ polymake interface.

[2019-07-18 10:15] mohamed-barakat commented on #280
Thank you very much @sebasguts and @fingolfin.

[2019-07-18 10:26] ThomasBreuer commented on #280
@kalmarek o.k., here is one example; in one of the error cases, it was the one to be processed.
[code]

[2019-07-18 11:08] thofma commented on #266
It is better. (I can't find the example with the 99% anymore).

[2019-07-18 21:05] mohamed-barakat commented on #266
Works for me with no measurable regression.

[2019-07-19 09:11] kalmarek commented on #280
I left it fuzzing julia ↔ Polymake for a night with small randomness in `mat`, and while I didn't experience any crush I did find an example which is feasible, but `MINIMAL_VALUE` is still nothing:
[code]

I know that investigating such a large example is rather hard, but maybe something more can be said @lkastner?
(polymake was build from yesterdays master)

[2019-07-19 09:14] fingolfin commented on #266
@mohamed-barakat so you are saying that you get identical benchmark results before and after `using GAP`? Interesting?

@rbehrends can you reproduce the remaining slowdown I reported? (I had it on two machines, both on my MacBook and also on a Ubuntu server)

[2019-07-19 09:34] fingolfin commented on #280
Oops, sorry, did not realize that merging PR #281 would close this issue. Of course we are still waiting for confirmation that the issue is fixed (and if it is not, we'll search for further potential causes).

[2019-07-19 11:41] rbehrends commented on #266
I'm getting completely different results (though my version of Julia is a couple of months old). I'm wondering if there are different versions of GMP involved? Anyhow, here is what I'm getting:

[code]

This is a pretty fast machine, so I'm not sure why it would take so much longer per run. It may also mean that significant relative differences in GC performance are hidden because most of the time

[2019-07-19 11:44] mohamed-barakat commented on #266
Yes, but maybe my tests do not test the GC heavily, at least, I was unable to measure regression. I'll try to make these test part of the Oscar CI.

[2019-07-19 12:02] rbehrends commented on #266
After looking at it in a profiler, I primarily see a bit more time being spent in `sweep_pool_pagetable0`, which is linear in the order of pool pages in use. This would indicate that the performance difference is indeed largely caused by the larger heap.

[2019-07-19 21:13] ThomasBreuer commented on #280
@kalmarek I do not catch the point.
An example of a feasible (nonempty) polytope without lattice points (one of my tests) is as follows.
[code]

[2019-07-20 12:44] kalmarek commented on #280
@ThomasBreuer I see, I thought that "feasibility" of MILP means that the polytope contains integer lattice points.

[2019-07-21 10:25] lkastner commented on #280
@kalmarek I have not looked at your example, but maybe for clarification: The 'M' in `MILP` stands for mixed. This means that some variables are required to be integer, some can be rationals (or whatever). You can determine this by specifying `INTEGER_VARIABLES`. If this is left empty, then you are back at a normal `LP`. (`MILP` however then defaults to requiring all variables to be integers, sinc

[2019-07-21 10:45] kalmarek commented on #280
@lkastner there is no need for you to look at it. indeed `FEASIBLE` is the attribute of  polytope here, and not of `MILP`, so that settles it.

[2019-07-23 12:23] fingolfin commented on #280
@ThomasBreuer did the problem occur again so far?

[2019-07-23 13:55] ThomasBreuer commented on #280
@fingolfin With the fix from pull request #281, we did not run into this memory problem. I think this issue can be closed.

[2019-07-23 13:55] #280 closed

[2019-08-07 14:27] ThomasBreuer opened #282 "GAP crash when loading `JuliaInterface` in a Jupyter notebook with GAP 4 kernel"
I am not sure for which GAP package this is an issue, `JuliaInterface` or `JupyterKernel` (see https://github.com/oscar-system/oscar-website/issues/63).

Currently one can start GAP (master branch) in a terminal and then load these two packages --no problem with that.
[code]
However, if I open a Jupyter notebook using the GAP 4 kernel (the `JupyterKernel` package gets loaded in the initialization)

[2019-08-20 11:45] ThomasBreuer opened #284 "GAP's `-r` option and Julia's `.julia/config/startup.jl`"
(Perhaps this is related to issue #246.)

What is the reason for setting GAP's `-r` option in the call of `run_it`, in `GAP.jl/src/GAP.jl`?

The effect is that the user's `.gap` directory gets ignored when one calls `using GAP` from Julia.
Thus the file `.gap/gaprc` is not read, and the directory `GAPInfo.UserGapRoot` does not get added to `GAPInfo.RootPaths`.
The latter means that the packages in

[2019-09-09 13:03] fingolfin opened #285 "Feature request: Use BinaryBuilder for GAP.jl"

[2019-09-09 13:04] fingolfin commented on #266
@rbehrends can this issue be closed now?

[2019-09-09 14:02] rbehrends commented on #266
@fingolfin Yes, I believe we are good.

[2019-09-09 14:02] #266 closed

[2019-09-12 16:19] mohamed-barakat opened #287 "a problem with GAP package loading mechanism"
@ChrisJefferson's packages `json` fails to load:

[code]

[2019-09-13 07:46] mohamed-barakat commented on #287
Thank you @ThomasBreuer for your comment. The package `json` properly loads in `~/.julia/dev/GAP/gap.sh` but fails in `julia`:

[code]

[code]

[2019-09-13 07:55] mohamed-barakat commented on #287
Together with @ThomasBreuer we figured out that `GAP` in `julia` is trying to load `json` from another path which was compiled for a different `GAP` although both versions of `json` coincide and the path for the correct `json` version is appearing first in `EXTRA_GAPROOT`.

I will therefore change the title of this issue.

[2019-09-17 09:12] #78 closed

[2019-09-17 09:13] fingolfin commented on #240
We could perhaps use `jl_spawn` for that, or directly call libu.

[2019-09-17 09:16] fingolfin commented on #287
If you have two copies of the same GAP package, with the same version in each, then GAP will pick one, and ignore the other, period. There is nothing GAP.jl can do about this. If at all, this is a GAP issue. But frankly, I am not sure how I'd deal with it on the GAP side either -- in the end, this is a very rare issue that only affects people who dabble with custom GAP root paths -- that's a tiny

[2019-09-17 09:16] #287 closed

[2019-09-17 09:18] fingolfin commented on #230
We are not using wget anymore.

[2019-09-17 09:18] #230 closed

[2019-09-17 09:26] mohamed-barakat commented on #287
I agree.

[2019-09-17 09:35] fingolfin commented on #236
This doesn't happen anymore. Not sure if it is gone for good, but I also see no point in keeping this issue open.

[2019-09-17 09:35] #236 closed

[2019-09-17 09:47] fingolfin commented on #68
This was taken care of by PR #104; well, no benchmarking was done, but `call_gap_func` was optimized at least.

[2019-09-17 09:47] #68 closed

[2019-09-22 12:47] mohamed-barakat opened #290 "GAP package JupyterViz fails to load"
[code]

[2019-09-22 13:00] fingolfin commented on #290
Isn't this the same as issue #287, ie the package simply is not loadable, eg some dependency is missing/not compiled/...

[2019-09-22 13:01] sebasguts commented on #290
Without investigating further, I think you are not able to load GAP's Jupyter package stack.

Even if, you will not achieve the desired goal. The Renderables will not show as expected (image, html) when displayed to Jupyter. I suggest you use the native Julia visualization tools.

[2019-09-22 13:45] alex-konovalov commented on #290
@sebasguts must be right. Loadable here in GAP 4.10.2 https://github.com/alex-konovalov/gap-teaching.

[2019-09-23 09:53] mohamed-barakat commented on #290
@fingolfin is right, I still have `json` in my `EXTRA_GAPROOT`. And @sebasguts is right, after removing `json` from the path I get the error:

[code]

[2019-09-23 09:55] mohamed-barakat commented on #290
I will wait for a day and then close the issue. Thank you all for your help.

[2019-10-02 06:33] thofma opened #291 "GAP.jl broken?"
Fresh julia installation.
[code]
Fails also with the same error on julia 1.1. I am pretty sure this used to work.

[2019-10-02 07:10] ThomasBreuer commented on #291
@thofma The problem arises because of a bug in https://github.com/gap-system/gap/pull/3669, in the GAP master branch.

[2019-10-02 07:14] thofma commented on #291
Thanks. Any way to work around this? Is the GAP version in GAP.jl fixed or does it pull in the latest master branch of GAP?

[2019-10-02 07:16] fingolfin commented on #291
I'll take care of this shortly. Thomas made me aware if this before, but I didn't get to it yesterday

[2019-10-02 07:18] fingolfin commented on #291
The problem is a missing change on the GAP.jl side, plus a lack of proper integration testing in the GAP CI tests, which do have some minimal tests for the Julia integration, but do not test against GAP.jl yet. I'll look into that, too

[2019-10-02 07:32] fingolfin opened #292 "Improve Travis tests on gap-system/gap to actually test GAP.jl"
This way, we'll notice problems sooner.

[2019-10-02 08:41] #290 closed

[2019-10-02 09:46] #291 closed

[2019-10-02 09:56] fingolfin opened #294 "Travis tests fail with Julia nightly"
On #293, @ThomasBreuer observed:

[2019-10-02 11:15] ThomasBreuer commented on #294
To make the "observation" more precise:

When the `read.g` file of `JuliaExperimental` is read into GAP then the messages
[code]
belong to the first calls of the function `JuliaImportPackage`, which asks Julia to call its `import` for the given package.
Since the Julia packages cannot be imported, GAP does not read some files which rely on them.

The next call of `JuliaImportPackage` has the argum

[2019-10-02 11:33] fingolfin commented on #294
In addition it is also odd that Nemo is not loaded to boot with -- it should be, and in e.g. the Julia 1.2 test, it is.

I am now building the latest Julia master to see if I can replicate the issue with that locally.

[2019-10-04 17:04] fingolfin commented on #294
Reproduced this locally: First, I did `Pkg.add("Nemo")`. This (seemed to) install Nemo in Julia 1.4dev.

But then on a prompt, I can't load it, and this happens:
[code]
So, definitely looks like an issue in either Julia or Nemo, or both

[2019-10-04 17:10] fingolfin commented on #294
This is actually fixed in Nemo's master branch, see https://github.com/Nemocas/Nemo.jl/commit/08662650c69b8604e4df0129e4ed4b6a845ff56f

So I think we can safely ignore it for now. Of course a new Nemo release with this fix would be nicer.

[2019-10-17 15:17] ThomasBreuer opened #296 "How to perform initializations of GAP objects in Julia packages?"
Consider the following file `MyPackage.jl`.
[code]
If one creates a proper Julia package from this (with dependency on `GAP.jl` listed in `Project.toml`) then the first `using MyPackage` will create a `.ji` file for `MyPackage`.
Leave Julia, start Julia anew, and call `using MyPackage`.
Now GAP is running, the Julia variable `MyPackage.g` exists, but the GAP object to which it shall point has not

[2019-10-18 07:25] ThomasBreuer commented on #296
The answer is to use a `__init__` function in the module,
see the documentation on [Module initialization and precompilation](https://docs.julialang.org/en/v1/manual/modules/index.html).

[2019-10-18 07:25] #296 closed

[2019-11-12 17:12] ThomasBreuer opened #298 "GAP crash after Julia TypeError"
I have observed reproducible crashes when I start GAP (current master branch, with Julia GC and using Julia 1.1.0), load `JuliaInterface` (current master branch), and then run computations involving a lot of Julia objects.
The error messages are more than 700 lines long, they start with
[code]
The GAP code below is the result of my attempts to reduce the problem to a small number of input code lin

[2019-11-13 09:01] ThomasBreuer commented on #298
@fingolfin @rbehrends : Do you have an idea what is going on here?

[2019-11-13 09:10] rbehrends commented on #298
Not yet. I've seen the bug report, but haven't had an opportunity to look at possible causes yet.

[2019-11-15 14:20] fingolfin opened #299 "Add upper bound to GAPTypes dependency"
On https://github.com/JuliaRegistries/General/pull/5422 we were told:

[2019-11-15 16:05] ThomasBreuer commented on #299
Currently `GAPTypes.jl` has version `"1.0.0"`.
We could be very conservative in the sense that any change in `GAPTypes.jl` will likely be incompatible, and will require a new release of `GAP.jl`.
If I understand the documentation in `Pkg.jl` right then we can express this as follows.
[code]

[2019-11-26 23:51] fredrikekre commented on #299
Bump for https://github.com/JuliaRegistries/General/pull/5422. I would recommend:
[code]
if you are following semantic versioning.

[2019-11-27 12:06] ThomasBreuer opened #301 "test failure for pull request #300"
The (first) failure at https://github.com/oscar-system/GAP.jl/pull/300/checks?check_run_id=322748382 looks strange.
My interpretation is that first GAP's `GAPToJulia` creates a nested array of the following structure.
[code]
Then Julia's `hcat` turns the nested array into a 2-dimensional array.
[code]
In the seven (or six) jobs where the tests pass, the type of the array says that the entries are

[2019-11-27 13:04] fingolfin commented on #301
These failures are flukes, caused by some Travis VMs still using Julia 1.3.0-rc5. Once all are upgraded to 1.3.0 this issue will resolve itself

[2019-11-27 14:36] #299 closed

[2019-11-27 14:36] fingolfin commented on #301
This went away for #300 now, as predicted

[2019-11-27 14:36] #301 closed

[2019-11-27 14:37] fingolfin commented on #298
Sorry, I didn't see this issue before :-(

The error looks as if we are missing to catch a julia exception somewhere. I'll investigate ASAP (but right now I am about to give a talk)

[2019-12-09 15:04] #294 closed

[2019-12-23 09:08] kirtsar opened #303 "More examples in README (at least) or documentation"
It is not clear what can be done right now.

Actually, I can't even build a permutation , and there is no hints how I can do it:

[code]

[2019-12-23 12:36] fingolfin commented on #303
Yes, documentation is TODO. In the meantime, looking at the tests gives some hints:
[code]
Or you can do:
[code]

[2019-12-23 12:46] fingolfin commented on #298
@ThomasBreuer I cannot reproduce this with Julia 1.1.1 nor in 1.2.0. There, I get this instead:
[code]
You said that you are using 1.1.0 -- any reason for this? 1.1.1 was made months ago and fixed some critical bugs. And pretty soon, we'll have to require Julia 1.3 or later for OSCAR anyway (see also the recent email by Bill)

[2019-12-23 16:17] ThomasBreuer commented on #298
@fingolfin The reasons for using Julia 1.1.0 in this issue are that this is the Julia version that is "officially" recommended at https://oscar.computeralgebra.de/install/, and that this is the Julia version where I can reproduce the problem reliably.

In fact, I get a crash with the same input also with Julia 1.3.0-DEV.433, but only in one of about ten attempts; in the other cases, GAP prints eig

[2019-12-23 17:14] fingolfin commented on #298
The URL you refer to is not actively maintained (esp since Sebastian left). Please don't use 1.1.0, use at least 1.1.1; better would be 1.2 (and certainly don't use DEV versions of Julia; 1.3.0 final was released a few weeks ago).

Can you also reproduce the issue with any of  1.1.1, 1.2.0, 1.3.0?

[2020-01-16 16:34] kalmarek opened #304 "adding GAP (with or without packages) fails"
[code]

[2020-01-16 16:40] fingolfin commented on #304
@kalmarek thanks, i got a report on the same issue by @sebastianpos today. I don't quite understand why Travis doesn't catch this, so besides fixing this, I'll have to make sure Travis catches it next time around.

[2020-01-16 16:41] kalmarek opened #305 "GAPTypes are added to the main environment"
`build.jl` should not add packages to the global environment as it does now

[2020-01-16 16:41] fingolfin commented on #304
Could either of you perhaps send me the full `build.log` (resp. attach it here)

[2020-01-16 16:51] kalmarek commented on #304
actually I've just tried with `GAP_INSTALL_PACKAGES=yes`
https://gist.github.com/kalmarek/5e91df6f820417e506c2a6e8b9ce8650

[2020-01-16 17:01] kalmarek opened #306 "use shallow clone and `get(ENV, "GAP_INSTALL_PACKAGES", "no")`"
when building GAP, just that we don't end up downloading the full git tree and 2.6GB of pkgs
[code]
also #285 would be greatly appreciated

[2020-01-16 23:35] fingolfin commented on #304
So this regression seems to be caused by a change in Julia (in `PKg.jl`, I guess?) which now does a `chmod a-w` on all source files. It's still not clear to me why this doesn't show up on Travis.

[2020-01-16 23:37] kalmarek commented on #304
I'll try this tomorrow, thanks!
(for tracking this while the hell broke on the email ;-)

[2020-01-16 23:44] fingolfin commented on #304
I made a PR, if it works for you, I'll make a new release of GAP.jl ASAP

[2020-01-17 00:06] kalmarek commented on #304
fixed by #307

[2020-01-17 00:19] #304 closed

[2020-01-17 00:29] fingolfin commented on #305
So first of, I agree with this in principle, and would love to get rid of it, and @sebasguts had a hard time to convince me to add it in the first place; but back then we couldn't come up with a better solution to the problem(s) this is meant to help work around, and frankly needed to make progress, so went with the ugly hack in the end. It certainly is possible that one can come up with a better

[2020-01-17 00:37] fingolfin commented on #306
There seem to be two requests mixed in one issue here, let's see:

1. "Use shallow clone":
We used to use a shallow clone, but that makes it really awkward to track GAP fixes as they come in. The plan is to drop the clone and instead download a specific GAP release -- but this is waiting for GAP 4.11 to be released. Which was meant to happen in September... I've been pressing for this, but there i

[2020-01-17 08:00] ThomasBreuer commented on #298
@fingolfin The example from this issue works fine with the Julia versions 1.1.1, 1.2.0, 1.3.0.
Moreover, I have run the long computations from which I had extracted this example with Julia 1.3.0, and I did not get a crash.
(By the way, these computations were used to obtain part of the data shown at http://www.math.rwth-aachen.de/~Thomas.Breuer/singeralg/data/.)

Thus it looks as if the Julia fixe

[2020-01-17 08:24] fingolfin commented on #298
Thanks.

I also update https://github.com/oscar-system/oscar-website/issues/25 to emphasis that the install instructions *really* need to update (that issue has been open for a long time now, though).

[2020-01-17 08:27] #298 closed

[2020-01-17 21:34] kalmarek commented on #305
I understand, but the actual reported thing is that local installation of GAP.jl modifies the global/main environment. I'm totally fine with it adding `GAPTypes` to local environment.

One potential solution is to create `(mutable) struct GAPObj{T} ptr::T end` as a thin wrapper around `MPtr` or whatever else that comes from GAP. How many subtypes of GAPObj do we have? How many there are subtypes o

[2020-01-17 21:51] kalmarek commented on #306
I guess for development you should keep track of your own version of GAP, shouldn't you? I know that this is only for UX until BinaryBuilder is done, but since there is no serious activity on that front (that I can see), maybe a quick and dirty one here is better than waiting for the BB? I'm just suggesting, since now adding GAP takes >20 minutes on my computer, which is not ideal from user perspe

[2020-01-17 21:57] kalmarek opened #310 "`] dev --local GAP` results in a GAP.jl installation that cannot start due to missing GAPTypes.jl"
[code]
this also happens with `ENV["GAP_INSTALL_PACKAGES"] = "yes";`

[2020-01-17 22:04] kalmarek opened #311 "GAP with no packages fails to define functions"
[code]

[2020-01-17 22:11] kalmarek commented on #311
@fingolfin I see, that You've changed the build script, let me have a look at this again

[2020-01-17 22:11] fingolfin commented on #311
The only supported values for `GAP_INSTALL_PACKAGES`  are `yes`, `debug` and `minimal`. You can use `no` if you like, but only if you then install the required packages without GAP cannot start (GAPDoc, smallgrp, primgrp, transgrp).

So, this works as intended. It's impossible to start GAP without any packages

[2020-01-17 22:11] #311 closed

[2020-01-17 22:22] kalmarek commented on #311
ok, would be great to see this in the README though ;-)

[2020-01-17 22:23] fingolfin commented on #311
Yes, of course. But let me point at this point that `GAP_INSTALL_PACKAGES` itself is completely undocumented, and if you use that, well, you are in for some pain :-)

[2020-01-17 22:32] kalmarek commented on #306
[code]
are these: `GAPDoc 1.6.3, PrimGrp 3.4.0, SmallGrp 1.4.1, TransGrp 2.0.4`  the only (non-julia related) packages that are strictly necessary?

[2020-01-17 22:33] fingolfin commented on #306
Yes, those are the only, and they get installed when `GAP_INSTALL_PACKAGES=minimal` is set.

[2020-01-17 22:37] fingolfin commented on #310
Sounds to me like this is essentially a different facet #305. As in: Fixing one will fix the other.

[2020-01-17 22:39] kalmarek commented on #306
If we can cheaply get GAPs `PackageManager` working, I'd vote for making `minimal` the default...

[2020-01-17 22:45] fingolfin commented on #305
OK, installing into the local environment sounds like it might lead to a workable solution (at least of part of the problem). But to be honest, I've very little experience using environments; I will work on changing that; in the meantime, if you have a pointer for me what to change in `build.jl` to achieve that, I'll look into it. As mentioned, there will be work needed on the GAP side, too, but I

[2020-01-17 22:48] fingolfin commented on #305
Ah, I think it may have been in there to make it easy to locate the GAP executable when running on Travis. But there are of course better ways to do that.

[2020-01-17 23:03] kalmarek commented on #305
well, the other thing is to have exactly one version of GAP tree for julia ;)
I'm looking at those lines in `build.jl`
[code]
and I'm asking myself why isn't it just `Pkg.add("GAPTypes")` ? I'm not sure I understand the dance with load_paths though...

[2020-01-17 23:13] fingolfin commented on #306
To make `PackageManager` work, we of course need that, and also the `curlInterface` package.

[2020-01-17 23:35] fingolfin commented on #305
"the other thing is to have exactly one version of GAP tree for julia" -> but that's *not* what that did or was about. It just was a symlink which pointed to the last `gap` clone made by any version of `GAP.jl`

There are issue with sharing a single GAP tree: at the very least, we need to compile GAP once for each for version of Julia (so for 1.1, 1.2, 1.3). GAP actually allows multiple out-of-tre

[2020-01-17 23:40] fingolfin commented on #305
Regarding that `JULIA_LOAD_PATH`: Doesn't the comment above that snippet you pasted explain it? That code is explicitly meant to ensure GAPTypes is installed in global package environment. Otherwise, unless the other manually installed `GAPTypes.jl` globally, one cannot start `gap`, as it'll fail to load `GAPTypes.jl`, as explained in my length comment above

[2020-01-17 23:48] kalmarek commented on #305
so I guess the problem is `gap` always looking for `GAPTypes` in the global env?

In Polymake only the thin CxxWrapper is built against `libjulia`. Other than this we use fixed build by BinaryBuilder, which handles those automatically (or I think so).

Lets meet on slack/skype and discuss why GAPObj needs to be an abstract type, shall we?

[2020-01-17 23:49] kalmarek opened #315 "julia_to_gap handles vectors of Ints differently"
[code]

[2020-01-18 00:07] fingolfin commented on #305
In the past, there was no `GapObj` and no `GAPTypes.jl`, and none of these problems existed; I could easily revert things back to that. But that also meant that everything was using `ForeignGAP.Mptr` directly, which, as I understand it, made precompilation of the Julia code in `GAP.jl` impossible, and also in any other project that might use `GAP.jl`.

I am happy to discuss other ways to solve thi

[2020-01-18 00:13] fingolfin commented on #315
This is intentional, to ensure round trip fidelity of all types; see https://github.com/oscar-system/GAP.jl/wiki/Rules-for-conversion-between-GAP-and-Julia-objects for details.

Those rules should of course be integrated into the documentation. I started work on this in the distant past, see https://github.com/oscar-system/GAP.jl/pull/203, but it got stalled. Part of the issue was/is that we could

[2020-01-18 11:06] kalmarek commented on #315
I don't understand the round trip fidelity:
[code]
by no means I started with `Int[1]`, got `Any[1]`;
If Julia Int can't fit into Gap Int an `InexactError` should be thrown.

[2020-01-18 11:11] kalmarek opened #316 "Some GAP docstrings are missing?"
[code]
misses the `Reference` docstring;

on the other hand
[code]

(I have to admit GAP docstrings are pretty cool ;-)

[2020-01-18 11:49] fingolfin commented on #316
@ThomasBreuer I think this is your code, could you have a look?

[2020-01-20 13:50] kalmarek opened #317 "return missing rather than noting"
for missing entries in lists

[2020-01-20 14:12] ThomasBreuer commented on #316
@kalmarek Thanks for this.
I was able to reproduce the error with `?GAP.Globals.PermList`, see #318.
But when I enter `?GAP.Globals.ListPerm`, I see two entries, first the one from `Reference` and then the one from `Automata`.
Does the access to `Reference` work at all for you?
(For example, `?GAP.Globals.IsSimpleGroup` should find exactly one entry, which belongs to `Reference`.)

[2020-01-20 14:22] kalmarek commented on #317
e.g.
[code]
BUT this functions spills type unstability all over the code. It'd be much better to implement something along:
[code]
so that unstability is contained inside `guess_type` (or can be avoided, when the type is known).

It seems, for the types that we are actually able to convert (from `gap_to_julia.jl`) a short, static list of types would be enough...

[2020-01-20 14:50] kalmarek opened #319 "refactor gap_to_julia"
mostly valid julia code but some pseudocode as well; comments welcome;
EDIT: draft is in https://github.com/oscar-system/GAP.jl/pull/323

[2020-01-20 15:05] kalmarek commented on #316
[code]
This is vanilla `GAP.jl` from `master`, build with all packages via `] build GAP`;

[2020-01-20 16:04] kalmarek commented on #316
just confirmed on an another machine (clean julia install) with the same results

[2020-01-20 16:12] kalmarek commented on #315
looking at this again, it's the other way round: if `GapInt` doesn't fit into `Int` the error should be thrown; the other direction is totally fine (as GAP handles them on the fly)

[2020-01-20 17:13] ThomasBreuer commented on #316
@kalmarek If I understand the installation from `deps/build.jl` right then there is no instruction yet to build the GAP Reference Manual, see #320.
(The GAP packages are fetched from an archive, which contains also the documentation of the packages. Thus Julia can access their documentation.)

[2020-01-21 23:56] fingolfin commented on #316
Actually

[2020-01-22 09:54] fingolfin commented on #317
All sounds plausible on the surface. I don't have time to work on any of that. Perhaps @ThomasBreuer has? Otherwise, patches are of course also welcome (I mean that in a non-snarky way; I understand this is not your job and you may not have time for it).

[2020-01-22 11:11] kalmarek commented on #317
I don't know where does the `nothing` come from when You call `ElmList`, so someone more knowledgeable needs to help me on this;

[2020-01-22 11:30] ThomasBreuer commented on #317
Concerning the question whether `GAP.ElmList` should return `nothing` or `missing`,
I am in favor of `nothing`.
As far as I understand the use of `missing` in Julia, the idea is to make a lot of functions work without errors for arrays containing `missing` at some position; for example, one can sort such an array and compute its sum.
In GAP, it is not possible to sort or sum up a non-dense list su

[2020-01-22 12:12] ThomasBreuer commented on #317
@kalmarek `GAP.ElmList` calls the C function `GAP_ElmList`; in the case of an access to an unbound position, the return value is `0`; then `RAW_GAP_TO_JULIA` calls `julia_gap`, which finally returns `jl_nothing` for input `0`.

[2020-01-22 12:33] kalmarek commented on #317
@ThomasBreuer, maybe I mis-interpret what is `ISB_LIST`, but the function of `missing` is precisely th gracefully indicate a missing value:
[code]

[2020-01-22 13:48] ThomasBreuer commented on #317
@kalmarek, I would compare Julia's `missing` with GAP's `Unknown()` values (which are used rarely):
The idea behind is to let the user do computations with arrays, say, where some entries are not really needed, and the final result will contain certain `missing` values, but the non-`missing` values may be interesting.
This is not the way how unbound entries in GAP lists behave, as I sketched above

[2020-01-22 14:54] kalmarek commented on #319
* overloading julia constructors allow much more natural calls like `Matrix(obj)` than `gap_to_julia(Matrix, obj)`

I updated the code @fingolfin @ThomasBreuer; With hacks/backward compatibility at the end it passes the first ~ 60 tests in `test/conversion.jl`
I won't have much time this or next week to push it further, I'd be glad if anyone from `GAP.jl` take it over;

[2020-01-22 15:37] fingolfin commented on #315
Sorry for the confusion. I misread the issue, my bad.

What I meant to convey is that converting an Int32 should not (by the original plan, at least) resulting in an (immediate) GAP integer, but rather in a GAP object which wraps the Julia `Int32`, to provide round-trip fidelity. That is indeed exactly what the C part of GAP.jl does.

But `gap_to_julia` and `julia_to_gap` are on a different, highe

[2020-01-22 15:41] fingolfin commented on #315
You wrote:

Not sure I understand: do you mean "a nicer error should be thrown" ? Because I already do get an error if I request conversion to `Int`. (Though if you don't specify the target type, then we automatically convert to a BigInt):
[code]

[2020-01-22 15:50] fingolfin commented on #254
Note that while this would be nice, I don't think there is a serious issue if we don't, as long as all copies of GMP are compiled with compatible (=default) settings.

[2020-01-22 16:03] kalmarek commented on #315
I meant `InexactError`:
[code]

[2020-01-22 16:11] ThomasBreuer commented on #319
@kalmarek @fingolfin I try to incorporate the ideas.

[2020-01-22 16:22] kalmarek commented on #319
given what @fingolfin wrote https://github.com/oscar-system/GAP.jl/issues/315#issuecomment-577244963, I think this requires more consideration and overall time spent in design, as for now we have two intermingled layers of conversion;

In Polymake.jl we convert everything to julia understandable type whenever we can. the fast-track (without conversion) is hidden in low-level interface behind keywo

[2020-01-22 16:39] fieker commented on #254
On Wed, Jan 22, 2020 at 07:50:07AM -0800, Max Horn wrote:

... and initialized to use the same memory manager ...

[2020-01-22 17:18] fingolfin commented on #254
That at least no issue: GAP largely avoids GMP allocation; the only ones are in kernel functions for temporary allocations but cannot escape.

[2020-01-22 23:17] fingolfin commented on #317
Upon re-reading the Julia documentation, I agree with @ThomasBreuer

Specifically, the [documentation for `nothing`](https://docs.julialang.org/en/v1/base/constants/#Core.nothing) says this (emphasis mine):

While the [documentation for `missing`](https://docs.julialang.org/en/v1/manual/missing/) starts with the words:

And that's not at all what we want. And `1 + missing` is `missing`;  while `1

[2020-01-22 23:18] #317 closed

[2020-01-22 23:19] fingolfin commented on #315
@kalmarek that doesn't really answer my question. You already mentioned `InexactError`. What you have not yet said is in which situation you'd like us to use it? Could you perhaps give some concrete you'd like us to treat differently to illustrate what you want?

[2020-01-22 23:28] fingolfin commented on #319
@kalmarek could you perhaps turn this into a (non-working) PR? I.e. just copy&past your edits into/over `adapter.jl`, it's fine if it doesn't compile. But then this way, it's easy to inspect the diff, and also to comment on it line by line.

For GAP<->Julia, based on our experience designing several similar tools, Sebastian and me followed the design principle that at the lowest level, automatic c

[2020-01-22 23:35] kalmarek commented on #315
[code]
The `MethodError` You quoted follows basically from wrong usage:
[code]
and has nothing to do with failed conversion

[2020-01-22 23:45] fingolfin commented on #315
In your example, GAP.julia_to_gap(x) is actually identical to x:
[code]
This is because small integers in GAP are "immediate" integers. They don't live anywhere in memory, rather, they are stored inside pointers. We can't do that in Julia, though. Hence we have two choices:
1. Add a special Julia type which wraps GAP small integers, something like `struct SmallGapInt  x::Int end` or perhaps `primi

[2020-01-22 23:57] fingolfin commented on #315
As to the `MethodError`: Actually, it *does* have something with failed conversion: it is triggered by our generic fallback method when it fails to come up with a sensible conversion (but yeah, that code is buggy, and so our attempt to raise a `MethodError` actually raises a different `MethodError`.

I just fixed that; so now you get this error (which is not great either, but slightly better).
[co

[2020-01-23 07:44] fieker commented on #317
On Wed, Jan 22, 2020 at 03:17:02PM -0800, Max Horn wrote:

In julia currently accessing an undefined entry throws an error.
a = Array(FlintZZ, 2)
2-element Array{fmpz,1}:
 #undef
 #undef

then a[1] is error
isassigned(a, 1) -> false
isdefined(a, 1) -> true
a[1] = 1
will change this to true and true

However,
a = [undef, undef]
makes a[1] work...
a = [undef, undef]
2-element Array{UndefInitializer,

[2020-01-23 07:54] kalmarek commented on #317
this will explain
[code]
just because something prints as `undef` desn't mean you can't access it
[code]

[2020-01-23 08:02] fieker commented on #317
On Wed, Jan 22, 2020 at 11:54:31PM -0800, kalmarek wrote:

but w[1] will not throw an error...
julia> a = Array(FlintZZ, 2)
2-element Array{fmpz,1}:
 #undef
 #undef

julia> a[1]
ERROR: UndefRefError: access to undefined reference
Stacktrace:
 [1] getindex(::Array{fmpz,1}, ::Int64) at ./array.jl:728
 [2] top-level scope at REPL[151]:1

julia> a = [undef, undef]
2-element Array{UndefInitializer,1}:

[2020-01-23 08:41] kalmarek commented on #319
yes, I've read this document, but it documents more wishes than actual state (some containers are converted, some part of containers are wrapped, but those parts as standalone are converted?).
[code]
when and what is converted seems to be a total random thing. `MPtr` really needs to be wrapped? I thought it's a native GAP object...

Anyway talking about inefficiencies with respect to converting, w

[2020-01-23 09:08] kalmarek commented on #319
just one more note: in Polymake we have
https://github.com/oscar-system/Polymake.jl/blob/master/src/meta.jl#L262
which hides conversion behind a kwarg `keep_PropertyValue=false` (yes, we do convert everything by default; nobody complained about the performance, since it's not an issue)

[2020-01-23 09:52] kalmarek commented on #317
`undef` is a shorhand for `UndefInitializer()`, you're creating array with two initializers (two objects), not an uninitialized array...

[2020-01-23 19:35] kalmarek opened #324 "printing of self-referring list crashes"
[code]

[2020-01-23 23:06] fingolfin commented on #284
@ThomasBreuer I can't think of a good reason why we pass `-r` by default. Nor why we pass `-m 1000m`. If you want to submit a PR to remove either, I'd merge it.

That said, it would probably be nice if there was some way for the user to tweak these options; at least adding additional GAP roots could be useful. Not sure what a good user interface for achieving this would be, though. Anyway I am gue

[2020-01-24 01:21] fingolfin commented on #324
Huh, that's really odd. This works fine when called from GAP:
[code]
I can only speculates that `STATE(Tilde)` in GAP somehow ends up containing nonsense, but right now I have no clue what's going on here.

BTW, you can do these things more concisely using `@gap`: I.e., `@gap EvalString("[1, ~, 3]")` or even `@gap [1, ~, 3]`

[2020-01-24 09:57] ThomasBreuer commented on #324
When GAP views the list, it uses `ViewObj`.
Julia's `show` method cannot use that, it calls GAP's `StringView`, which belongs to the GAPDoc package. (I had already told Frank about the current problem.)
Note that the idea behind `StringView` is to create a string that corresponds to what `ViewObj` prints, and is thus more suitable than `ViewString`.
And note that `ViewString` uses a GAP library me

[2020-01-24 10:18] fingolfin commented on #235
I guess the underlying issue here is that ideally want to integrate the IO subsystems of GAP and Julia more closely, so that they don't interfere with each other as much. That's of course non-trivial work, and also it's not 100% clear what this means. Perhaps that GAP uses Julia IO functions (so ultimately: `libuv`) when built with Julia support?

[2020-01-24 11:09] fingolfin commented on #305
See also PR #322, PR #327 and https://discourse.julialang.org/t/swizzling-the-super-type-of-a-foreign-julia-type-or-how-evil-must-i-be/33733

[2020-01-24 14:18] fingolfin commented on #277
@markuslh huh, I never noticed this report before :-(.  So sorry, my apologies.

Is this still something that is relevant for you? I can't reproduce it. I'd need to know some more information, such as
- the precise Ubuntu version
- which Julia version?
- where is Julia installed, (`type julia` should give that info)
- which GAP.jl version?
- how did you install GAP.jl? When you say "as dev-package

[2020-01-27 11:36] fingolfin opened #329 "Reformat Julia code using JuliaFormatter and verify this via CI"
... just like we verify code formatting for C code using `clang-format`.

See https://github.com/domluna/JuliaFormatter.jl

[2020-01-27 11:46] fingolfin opened #330 "Rename Julia function `NewJuliaFunc`"
... this function takes a Julia function and creates a GAP function which calls that Julia function. The name comes from the C kernel function, inside a GAP kernel extension, were it makes some (limited) sense, but exposed on the Julia level, IMHO it is outright confusing.

[2020-01-27 22:31] #305 closed

[2020-01-27 22:31] #310 closed

[2020-01-28 17:22] fingolfin opened #332 "Bug in integer promotion/conversion/multiplication"
Problem is caused by `Int64` values `>= 2^60`, which cannot be stored in a small int.

[code]

[2020-01-29 02:38] fingolfin commented on #332
Really annoying is that right now we can't even avoid this by using `julia_to_gap`:
[code]

Only thing that works is to first convert to a BigInteger or Int128:
[code]

The problem is caused by `Int64` values `>= 2^60`, which cannot be stored in a small int. What happens is that this value then is wrapped in a `T_JULIA` GAP object, which then is passed to GAP's multiplication operation. Which runs

[2020-01-30 16:14] fingolfin opened #333 "Sometimes GAP is started multiple times from Julia"
Sometimes GAP is started more than one time in Julia. That is, I've seen instances were a package depending on GAP was loaded, and I saw the GAP banner printed twice. Unfortunately, I don't have a way to reproduce it so far; but I saw it happen on somebody else's computer today, so I wanted to at least make a note of it.

My suspicion is that this could be caused by different GAP versions being lo

[2020-01-30 16:16] fingolfin opened #334 "Turn off GAP loading banner by default"
While it has been (and still is) useful for debugging while working on GAP, I think the convention for Julia packages is to not show that. Perhaps we can make it optional somehow.

That said, without this, I wouldn't have noticed issue #333.

[2020-01-30 16:27] fingolfin opened #335 "Add ~/.julia/gap.sh back or revise OSCAR install instructions"
I just discovered that <https://oscar.computeralgebra.de/install/> promises that one can start the GAP built by GAP.jl via this command:

    ~/.julia/gap.sh

But that doesn't work anymore due to 600ce6d7ec3276d1399f0cd13061eb6d28aceb7a. We have two options:

1. add back that symlink
2. update the OSCAR install instructions.

My concern with 1 (and the reason why I removed the symlink in the first

[2020-01-30 18:16] ThomasBreuer commented on #333
One instance of this problem is the following:
When I load a Julia package that requires GAP.jl, and when this packages has to be recompiled by Julia for some reason, one GAP banner appears in the compilation, and a second banner appears when the dependency on GAP.jl gets evaluated.
Can this phenomenon be avoided at all?

[2020-02-05 11:08] ThomasBreuer opened #337 "problem with Documenter in packages depending on GAP.jl"
For a Julia package that depends on `GAP.jl`, I have created the setup for generating documentation with `Documenter.jl`, as described at https://juliadocs.github.io/Documenter.jl/stable/man/guide.
When the function `makedocs` gets called (in the file `make.jl`), I get a segmentation fault.
This crash disappears as soon as the `using GAP` statement is removed from the package in question.
Can anyb

[2020-02-05 12:42] mohamed-barakat commented on #337
I do not have a link called `using GAP` in HomalgProject, although I have a `GAP.jl` dependency:

https://github.com/homalg-project/HomalgProject.jl

I use `Documenter.jl` and everything is fine for me.

[2020-02-05 14:59] fingolfin commented on #337
@ThomasBreuer nope; but perhaps you can link to the repository with the problematic code? Also, which version of Julia / GAP.jl / etc. is that, and on what OS/arch?

Slightly offtopic, but: I also am hoping that @ThomasBreuer and @frankluebeck will setup Documenter for GAP.jl itself, too. Doing that would likely trigger the same issue, so if somebody sets up a PR with this, then I'd be happy to de

[2020-02-06 16:34] fingolfin commented on #337
So I set up some minimal Documenter.jl integration for GAP.jl, and with that can indeed reproduce a crash. I get this backtrace:
[code]

Note that at the top of the call stack, it messes around with subtypes and supertypes... So my suspicion is that our "foreign type" `ForeignGAP.MPtr` is somehow involved; as in, some code tries to interact with it and stumbles over the fact that "foreign types" a

[2020-02-06 16:45] fingolfin commented on #337
Ah, of course: we now are not setting any super type for our bag types, but all types are supposed to have a super type. This will require a fix in the GAP kernel. I'll open a PR for that right away.

[2020-02-07 14:56] #337 closed

[2020-02-10 13:23] mohamed-barakat opened #340 "using GAP does not see packages in ~/.gap/pkg"
I have the package `ZariskiFrames` and all its dependencies under `~/.gap/pkg`. Indeed
[code]
However `using GAP` does not see the packages
[code]

[2020-02-12 15:55] ThomasBreuer commented on #333
@fingolfin Could the situation described in my comment above be an explanation of what you had observed?

[2020-02-12 16:14] ThomasBreuer commented on #340
@mohamed-barakat Yes, currently Julia starts its GAP with the `-r` option, see #284 .
This means that the contents of the user's `~/.gap` directory is ignored.

For the moment, you can call `GAP.Globals.ExtendRootDirectories( GAP.julia_to_gap( [ GAP.Globals.UserHomeExpand( g"~/.gap" ) ] ) )`,
afterwards `LoadPackageAndExposeGlobals` should work.

I will create a pull request, in order to omit the

[2020-02-14 15:18] ThomasBreuer commented on #340
fixed by #341

[2020-02-14 15:18] #340 closed

[2020-02-14 15:35] #277 closed

[2020-02-14 18:26] mohamed-barakat commented on #340
@ThomasBreuer: Ah, I was unaware of the GAP command `ExtendRootDirectories`. Excellent, thank you very much.

[2020-02-14 18:27] mohamed-barakat commented on #340
@fingolfin: Thank you very much for the fix by #341

[2020-02-22 20:48] kirtsar opened #344 "Macro construct bug?"
[code]

[2020-02-23 20:14] kirtsar opened #345 "Iteration protocol for GAP lists?"
[code]

[2020-02-24 10:35] ThomasBreuer commented on #344
Thanks for this report.

By putting `show(  str )` into the macro definition,
one sees that the argument is `:(((1, 2, 3))(4,5))` inside the macro.
That is, Julia has silently inserted a pair of brackets around the first cycle,
and this syntax cannot be parsed by GAP.
This addition of brackets does not happen if there is only one cycle,
and more brackets get added if the number of cycles increases

[2020-02-24 17:22] sebasguts commented on #344
As far as I remember, I already realized when implementing this macro that it does not have the same power as the `EvalString` method. It may be used for some conveniences, but should not really be used in any functions or so.

[2020-02-28 12:57] ThomasBreuer opened #349 "problem with JuliaBindCFunction in JuliaInterface"
When one uses the interface from the GAP side, the GAP function `JuliaBindCFunction` is intended to take a Julia function, create a C-compatible function using `@cfunction`, and then wrap this into a GAP "kernel" function.
Currently this is broken, the examples in `JuliaInterface/example/gap_function_call.gi` run into errors.
[code]

[2020-02-29 18:53] mohamed-barakat opened #350 "JuliaExperimental fails on oscar-ci"
`JuliaExperimental` is failing on oscar-ci:

https://oscarci.mathematik.uni-kl.de/job/oscar/7393/artifact/logs/build-7393/JuliaExperimental.log

with errors like

[code]

[2020-03-03 13:16] fingolfin commented on #350
My guess is that this this is caused by the recent MatrixObj changes in the GAP master branch. Only that we really shouldn't be using the GAP master branch here anyway... I assume this is an issue with the OSCAR CI setup. I will investigate.

CC @ThomasBreuer

[2020-03-03 14:15] fingolfin opened #351 "Switch to using GAP 4.11.0"
GAP 4.11.0 has been "almost" released: tarball is up at https://www.gap-system.org/pub/gap/gap-4.11/tar.bz2/gap-4.11.0.tar.bz2 but the website has not yet been updated.

However, that's a 400 MB tarball; so perhaps instead, we should use https://www.gap-system.org/pub/gap/gap4core/gap-4.11.0-core.zip (which is just 18 MB) plus a minimal set of packages (see also https://github.com/gap-system/gap/i

[2020-03-03 14:26] fingolfin opened #352 "Document the release process of this package"
We should document the release process of this package. Here is how I *think* it works (based on my bad memory); I'll update this during the next release and then we can add it to a file in the repository, e.g. `etc/README.md`  or `README.maintainer`.

1. Switch to the `master` branch and `cd` into the root directory of the git repository.

2. Update the version of the Julia and GAP packages by in

[2020-03-03 14:26] JuliaRegistrator commented on #352
Error while trying to register: "Tag with name `0.2.6` already exists and points to a different commit"

[2020-03-03 14:27] fingolfin commented on #352
Ooops, didn't mean to actually trigger the JuliaRegistration bot...

[2020-03-03 15:13] fingolfin commented on #349
For now, to avoid any immediate issues, I would avoid `JuliaBindCFunction` and instead use `JuliaFunction`. The idea behind `JuliaBindCFunction` was to provide a optimization. Using the mini-benchmark in `pkg/GAPJulia/JuliaInterface/example/function_perform.gi`, for a trivial toy example the call overhead is reduced by perhaps 20%. Which could matter if you make millions of calls to a Julia functi

[2020-03-03 16:10] mohamed-barakat commented on #352
This is funny :)

[2020-03-04 11:01] mohamed-barakat commented on #340
For the record: I tested it with another directory and it did not. What is missing is a trailing slash. So this works
[code]

[2020-03-05 09:02] fingolfin opened #356 "Deploy JuliaInterface/JuliaExperimental HTML docs to gh-pages, too"
We deploy documentation for GAP.jl as part of our Travis CI job. It would be nice to also do this for JuliaInterface and JuliaExperimental.

That is, either for each push to master and/or for each tagged release, it would be nice to compile the two manuals of these packages and put them into a suitable place in the `gh-pages` branch. Compiling the manuals is the easy part; the slightly more annoyi

[2020-03-05 14:33] fingolfin opened #360 "Optimization: reimplement C function `call_gap_func` in pure Julia"
This helps e.g. avoid boxing of Int64 values. Also we can specialize for low numbers of arguments to avoid producing argument tuples.

Some (micro) benchmarks for all this to measure the performance impact would be nice, too

[2020-03-05 23:26] #350 closed

[2020-03-05 23:31] mohamed-barakat commented on #350
@fingolfin Thank you very much.

[2020-03-05 23:34] fingolfin commented on #235
This was resolved by PR #355

[2020-03-05 23:34] #235 closed

[2020-03-05 23:45] fingolfin commented on #292
We now build GAP.jl daily with a cron job, which ought to be enough for now.

[2020-03-05 23:48] fingolfin commented on #344
This is a known limitation.

For permutations in particular, I plan to add a macro in the future which works via a trick: Basically,  you can parse `(1,2)(3,4)` in Julia as an attempt to call the tuple `(1,2)` as if it was a function, with arguments `3,4`; so we get a valid AST for it; all that remains is to add a code transformation which allows us to extract the the cycles, and then we can call

[2020-03-06 10:51] #306 closed

[2020-03-06 10:51] #316 closed

[2020-03-06 10:51] #351 closed

[2020-03-08 15:16] mohamed-barakat opened #366 "GAP.jl 0.3.3"
I understand the necessity of compiling a minimal amount of packages when installing `GAP.jl`. With a fresh `GAP.jl` v0.3.3 `HomalgProject.jl` fails to load as the package `IO` was not compiled. This means that

`pkg> add HomalgProject`

is not enough anymore.

Is there a possibility to require a package to `fully build`?

[2020-03-08 16:02] fingolfin commented on #366
No. The idea is to use the GAP package PackageManger to compile packages, and also soon to install them: the idea is to drop all packages except the essential ones and PackageManager, and provide a Julia command like `GAP.install_package` instead.

[2020-03-08 17:27] mohamed-barakat commented on #366
Is it possible to compile `io` for the moment for `HomalgProject` to load, function, and pass the tests until you provide `GAP.install_package` which I can explicitly call to "build" `HomalgProject`?

[2020-03-08 23:38] fingolfin opened #367 "Add "nice" wrappers for GAP "PackageManager""
E.g. `GAP.install_package`, `GAP.update_package`, `GAP.remove_package` but also for GAP functionality: `GAP.install_package`, `GAP.package_available`, ...

[2020-03-09 21:45] mohamed-barakat commented on #366
Today I switched `HomalgProject.jl` to access Singular's interpreter via `Singular.jl` using [`OscarForHomalg`](https://github.com/homalg-project/OscarForHomalg) bypassing `IO_ForHomalg`. But `ToolsForHomalg` (which is distributed with GAP 4.11.0) has an explicit dependency of `IO`, so I am currently stuck.

[2020-03-09 22:00] fingolfin commented on #366
Unfortunately I am busy with other things right now, plus being somewhat ill since this afternoon, so getting this done might take me a few more days.

But in the meantime, if you want to urgently continue, you could simply invoke the relevant PackageManager commands to install `io` yourself. This is ultimately what `GAP.install_package` will do anyway.

[2020-03-10 21:25] fingolfin commented on #282
@thofma @rbehrends I tried to open https://nbviewer.jupyter.org/github/oscar-system/OSCARBinder/blob/master/GAPJulia_Singular_car.ipynb locally in order to update it. Turns out with that, I can also "reproduce" a crash, even though just loading `JuliaInterface` seems to work for me.

The stack trace and error message make me suspect that the use of `fork()` (via `IO_fork()` provided by the GAP `io

[2020-03-10 23:44] fingolfin commented on #333
@ThomasBreuer sorry, I missed your comment earlier.

Indeed, I think you are right. I just came upon this again, too, and it matches what you say: I loaded `GAP.jl` via `using GAP`, and then another Julia package which uses GAP.jl as well, at which point a precompilation was triggered, and GAP got started a second time.
[code]

After starting Julia again, I couldn't reproduce this anymore, presuma

[2020-03-10 23:51] fingolfin commented on #333
Note that the banner is called when we call the GAP kernel function `GAP_Initialize`. But the call chain for that is:  `__init__` → `run_it` → ` initialize` → `GAP_Initialize`

So I am lead to the conclusion that the `__init__` function of the GAP module is called twice. But *only* if precompilation of a package `using GAP` is involved. I verified this by the good old trick of inserting some print

[2020-03-11 00:09] fingolfin commented on #333
Note that in both settings, we have `GAP === GAPGroups.GAP` which is somewhat of a relieve.

The Julia documentation is somewhat ambiguous on how and when `__init__` is called. To quote:

One way to read it is that GAP's `__init__` should ever be called at most once, as in the second output. Another is that it might called once "per instance" of the module (so once for `GAP` and `GAPGroups.GAP` ea

[2020-03-11 00:38] fingolfin commented on #333
OK, problem (re)solved: I realized that the second banner is actually printed by a separate Julia process (I printed `Libc.getpid()` to verify this). So the only issue here is that the second banner is confusing, and merging PR #342 will alleviate this.

[2020-03-11 05:55] ThomasBreuer commented on #333
@fingolfin So should I update Pull Request #342 and merge it?

[2020-03-11 06:52] fingolfin commented on #333
Yes please

[2020-03-11 15:54] #333 closed

[2020-03-11 18:04] #352 closed

[2020-03-11 23:34] fingolfin commented on #197
We might actually want to enable the HPC-GAP variant for object copying in our Julia version of GAP, too. Possibly with some modifications -- we could modify `hpc/traverse.c` to use a Julia `IdDict` instead of a GAP `OBJ_MAP`.

However, the code in `hpc/traverse.c` is (or at least was) notoriously buggy and not tested enough, and while I improved it a bit over the years, I never took time to reall

[2020-03-11 23:53] fingolfin commented on #324
To fix this, we should simply not use `StringView`. I can add a C function to JuliaInterface which invokes `ViewObj` but with output printed into a string. On the long run, we may want to integrate this into GAP proper, but for now this is the easiest way to handle it, I think.

[2020-03-12 09:38] fingolfin opened #370 "Documenter.jl refuses to display julia_to_gap, gap_to_julia"
I set up some basic Documenter.jl framework which displays at least some of our Julia docstrings on https://oscar-system.github.io/GAP.jl/dev/ -- much more work is needed, but it is a start.

However, no matter what I tried, I couldn't get it to display the docstrings for `julia_to_gap` and `gap_to_julia`. And contrary to what the Documenter.jl manual says (or at least to how I understand it), not

[2020-03-12 10:36] ThomasBreuer commented on #370
@fingolfin The functions appear as soon as `docs/src/index.md` contains
[code]
Note that the two functions are not exported, whereas `FFE`, `GapObj`, and the macros (for which `Documenter.jl` found the docstrings) are exported.

[2020-03-12 10:50] ThomasBreuer commented on #370
@fingolfin Pull request #372 should solve the problem.

(One more remark:
In the old setup, I got warnings about the missing docstrings when running `julia make.jl` in the `docs` directory.)

[2020-03-12 12:32] #370 closed

[2020-03-12 12:38] ThomasBreuer commented on #334
This has been done via #342 .

[2020-03-12 12:38] #334 closed

[2020-03-12 14:44] #278 closed

[2020-03-12 17:30] fingolfin opened #377 "Installing GAP.jl simultaneously within multiple Julia versions may crash"
Based on empiric evidence, it seems that using a GAP compiled against Julia 1.2 from within Julia 1.3, or vice versa, does not work as it results in a crash. I suspect that this is due to subtle differences in the Julia kernel that affect our Julia GC integration (things like: "the content of some internal struct changed around, so our code doing this gets broken).

The ideal solution would be to

[2020-03-12 17:35] fingolfin commented on #377
To clarify: actually, right now we install GAP relative to the GAP.jl package directory, which might be elsewhere than `~/.julia`, if the user uses a custom environment. Thus my suggestions further fork here: we could have one copy of GAP per environment. Or really just a single global one.

Having a single global one requires the least resources, and grants fast installation of GAP in custom envi

[2020-03-13 10:02] mohamed-barakat commented on #377
Since the current GAP, thanks to your efforts, supports an out-of-tree-build I am strongly in favor of the option you propose. We just need to check if Julia's `Pkg` will start to complain about unidentifiable subfolders in `~/.julia/packages/GAP/`, but I doubt it.

[2020-03-13 11:14] rbehrends commented on #377
This is puzzling, because I can't easily see where we'd have such code. We mostly go through the API, which should be version-agnostic, but even struct layout changes in Julia are generally only done by appending fields to an existing struct in order to preserve backwards compatibility (according to at least some of the Julia devs), which should not hurt us.

One possible candidate for incompatibi

[2020-03-13 18:12] #367 closed

[2020-03-13 18:15] fingolfin opened #379 "Improve `GAP.Packages` module"
- perhaps rename `GAP.Packages.install` to `GAP.Packages.add`; or perhaps have them both, one as an alias for the other?
- add `GAP.Packages.build` to just build a package; for now using `PKGMAN_CompileDir`, but see also gap-packages/PackageManager#50
- add a way to specify alternate install locations, e.g. by allowing for an optional keyword argument in GAP.Packages.install`; to implement it, we'

[2020-03-17 15:58] fingolfin opened #380 "Remove "horrible hack" in GAP.jl/src/utils.jl analogously to PR #369"

[2020-03-17 15:59] #324 closed

[2020-03-18 20:44] fingolfin opened #381 "Implement support for passing keyword arguments to Julia from the GAP side"
AFAIK, we currently don't support any way to pass keyword arguments from GAP to Julia, other than to evaluate a string. That should be changed.

[2020-03-19 00:52] fingolfin commented on #332
This was resolved by #357

[2020-03-19 00:52] #332 closed

[2020-03-19 10:25] ThomasBreuer commented on #381
When I discussed this question with @sebasguts , the situation was that `jl_call` simply does not support keyword arguments.
Also `Core._apply` seems to be not suitable for entering keyword arguments.
In order to call
[code]
or
[code]
from GAP via the interface, one can define
[code]
and then the following works.
[code]
JuliaInterface can create all ingredients of this code line, and execute the f

[2020-03-19 14:10] mohamed-barakat opened #382 "WARNING: could not import Base.hasproperty into GAP"
There seems to be an issue with `hasproperty`:

https://oscarci.mathematik.uni-kl.de/job/oscar/8184/execution/node/140/log/

[2020-03-20 09:06] ThomasBreuer commented on #382
The warning looks as if a Julia version <= 1.1 was used in the tests:
`Base.hasproperty` is defined only from Julia 1.2 on,
and I can reproduce the warning with Julia 1.1 but not with Julia 1.2 or 1.3, by calling `import Base: hasproperty`.

[2020-03-20 10:36] fingolfin commented on #382
Jenkins needs to be switched to Julia 1.3. I already notified @rbehrends about this and another issue yesterday, I hope it will be resolved son

[2020-03-20 10:59] rbehrends commented on #382
Jenkins has been on 1.3 since last night. Polymake.jl and Oscar.jl tests fail currently because of a dependency issue, HomalgProject.jl has issues with a missing LinearAlgebra Julia package.

[2020-03-20 13:25] mohamed-barakat commented on #382
`LinearAlgebra` (`uuid="37e2e46d-f89d-539d-b4ee-838fcccc9c8e"`) is needed by `JuliaExperimental` but it is not a dependancy in `GAP.jl` v0.3.4. Wouldn't it make more sense to add it to `GAP.jl`?

[2020-03-20 15:05] #380 closed

[2020-03-20 16:23] mohamed-barakat commented on #382
@rbehrends: I am puzzled by the context which produces this error on jenkins:

https://oscarci.mathematik.uni-kl.de/job/oscar/8219/artifact/logs/build-8219/HomalgProject.jl.log

Everything is running here:

https://travis-ci.com/github/mohamed-barakat/HomalgProject.jl/jobs/297893533

[2020-03-21 00:34] fingolfin commented on #382
@mohamed-barakat Hmm, `JuliaExperimental` only uses `LinearAlgebra` if it is available, so it isn't a list dependency on purpose.

[2020-03-21 00:48] fingolfin commented on #381
That would be a good start. Of course i should also be easy to be from GAP. Perhaps we could have a helper there as well which accepts a GAP record for the keyword args. Using that helper then might look something like this on the GAP side (I omitted calls for converting GAP strings and lists to Julia, in order to keep this pseudo example simple):
[code]

[2020-03-21 00:56] fingolfin commented on #382
Ah wait, I see: `zlattice.jl` uses `LinearAlgebra`, and it is unconditionally included by `zlattice.g` which in turn is always loaded by `init.g`. So @ThomasBreuer and me need to fix that.

[2020-03-22 16:27] fingolfin opened #389 "JuliaExperimental depends (via zlattice.jl) on LinearAlgebra"
JuliaExperimental depends (via zlattice.jl) on the Julia package LinearAlgebra.

Some options for resolving this:
1. add `LinearAlgebra` to our `Project.toml` (least work, but a bit unsatisfactory in my eyes... but OK)
2. drop that dependency by rewriting the code (all we need from `LinearAlgebra` is `diag`...)
3. make the dependency conditional somehow (like for other "optional" Julia dependencie

[2020-03-22 16:28] fingolfin commented on #382
The issue reported here originally is resolved, and I extracted the LinearAlgebra related one into an issue of its own.

[2020-03-22 16:28] #382 closed

[2020-03-22 16:31] mohamed-barakat commented on #382
Thanks Max

[2020-03-22 16:31] fingolfin commented on #366
I just released GAP.jl 0.3.5 which allows doing `GAP.Packages.install("io")`.

[2020-03-22 16:31] #366 closed

[2020-03-24 10:58] ThomasBreuer opened #390 "access to Julia variables from GAP"
Currently Julia module objects in GAP admit access to variables of the module via `\.`.
[code]
One can access Julia variables also with `JuliaGetGlobalVariable`, but there are differences.
First, there is a problem with caching.
[code]
Second, functions and modules get wrapped with `_JuliaFunction` and `_WrapJuliaModule` by the access with `\.` (see above) but not by `JuliaGetGlobalVariable`.
[cod

[2020-03-30 18:49] mohamed-barakat opened #392 "Loading GAP.jl then Singular.jl causes ERROR: InitError: too many gmp"
When I first load `GAP.jl` and then `Singular.jl` I get the following error

[code]

The other way round works does not raise an error:

[code]

[2020-03-30 21:21] fingolfin commented on #392
Thanks for this report! In retrospect I am somewhat surprised it ever worked... we ought to use the GMP binary builder (and probably also the one for zlib) and instruct the GAP we compile to link against that.

[2020-03-31 05:52] fieker commented on #392
On Mon, Mar 30, 2020 at 11:50:13AM -0700, Mohamed Barakat wrote:

Very good - we actually do understand this and most the fix. I'll talk
to Max later today

Claus

[2020-03-31 08:34] mohamed-barakat commented on #392
Excellent, thank you very much :)

[2020-03-31 09:39] fingolfin opened #394 "Move GAP compilation to a separate GAPBuilder.jl, even if it compiles from source"
Of course we want a proper binary builder (see issue #285) but that's difficult. But we still could have a `GAPBuilder.jl` package which just builds GAP and does basically nothing else.

The main advantage of this would be that it helps resolve some issues:
- we don't download and build GAP again when there is a minor update of GAP.jl
- we can worry about how to compile and deal with code which de

[2020-03-31 13:29] fingolfin opened #395 "Update build.jl to guard for exceptions"
@kalmarek suggested:

[2020-03-31 13:37] fingolfin opened #396 "Track hash of GAP tarball, avoid extra downloads"
We should compute a SHA256 hash (or whatever) of the GAP tarball, so we can reuse it instead of deleting and downloading again. Moreover, this can be used to verify the download was successful.

Actually, perhaps we can even switch to using the [Julia Artifacts system](https://julialang.github.io/Pkg.jl/dev/artifacts/) to keep track of the tarball?

[2020-04-03 10:48] #381 closed

[2020-04-03 23:08] fingolfin commented on #28
This is taken care of now, there are docs for this -- they might not be perfect, but they are there, and can be extended as needed.

[2020-04-03 23:08] #28 closed

[2020-04-03 23:14] fingolfin commented on #390
Yeah, let's remove the caching.

As to the handling of functions: `Julia.sqrt` is nicer in the sense that it can be used as a function more efficiently. The result of `JuliaGetGlobalVariable( "sqrt" )` is nicer in that it prints nicer. So here my solution would be to add nicer `(Print|View|Display)(String)?` methods; to do that, easiest would be to export `IS_JULIA_FUNC` from the kernel to GAP, an

[2020-04-03 23:15] fingolfin commented on #176
The original example works fine now:
[code]

[2020-04-03 23:15] #176 closed

[2020-04-06 23:40] fingolfin commented on #395
@kalmarek can you point me to some packages that do this? The ones I have here never use try/catch/finally, even though they use `cd` a lot in their build.jl (e.g.  Nemo.jl, LoadFlint, Singular.jl).

Not that I am debating the usefulness of this, it just would be useful to see real life examples to compare to do what I do!

[2020-04-06 23:47] fingolfin commented on #395
I think I'll actually use the 2-arg version of `cd` with a do/end block:
[code]

[2020-04-07 10:59] fingolfin commented on #335
In PR #400 one can enter this to launch GAP:
[code]

[2020-04-07 23:37] fingolfin opened #405 "Acknowledge DFG funding in the package README & manual"
Other projects within the SFB such as Polymake.jl, Singular.jl, Nemo.jl etc. should of course also do this, if they don't already (ping @fieker -- agreed?)

[2020-04-08 05:44] fieker commented on #405
On Tue, Apr 07, 2020 at 04:37:57PM -0700, Max Horn wrote:

Yes, good idea

[2020-04-08 10:38] #405 closed

[2020-04-08 10:39] fingolfin commented on #394
I decided to go against this (for now, at least) and instead use Artifacts to achieve a similar result, see PR #400. So if we merge PR #400, this can be closed.

[2020-04-09 12:29] #335 closed

[2020-04-09 12:29] #377 closed

[2020-04-09 12:29] #395 closed

[2020-04-09 12:29] #396 closed

[2020-04-09 12:29] #254 closed

[2020-04-09 12:29] #392 closed

[2020-04-09 12:29] #394 closed

[2020-04-09 22:22] mohamed-barakat opened #406 "autom4te: cannot open configure: Permission denied"
[code]

[2020-04-10 13:59] fingolfin commented on #406
The problem is that "maintainer mode" in the GAP build system: If it notices that `configure` is older than `configure.ac` or one of the `*.m4` files, it tries to re-run `autoconf` to regenerate it. Which normally would be harmless, except (1) the files in the artifacts directory are made read-only, resulting in the error above, and (2) even if they were not, the user might not have `autoconf` ins

[2020-04-10 14:06] fingolfin commented on #379
Somewhat related: https://github.com/gap-system/gap/issues/3917

[2020-04-10 15:05] fingolfin opened #407 "Idea: better handling of compiled packages"
Right now, I do something somewhat nasty, and compile packages that require so inside the artifacts tree, i.e., inside `$gap_src_root`. This is quite a hack; on the one hand, that tree is meant to be immutable and read-only (but luckily only files are, the dirs are not, which is why my hack works for now). On the other hand, if one uses multiple Julia versions, then we rely on the package's build

[2020-04-11 11:02] mohamed-barakat commented on #406
I also needed to pull the latest GAP.jl since the sha256 has changed.

[2020-04-11 11:10] mohamed-barakat commented on #406
Unfortunately, I still get the same error message:

[code]

[2020-04-11 12:13] fingolfin commented on #406
Argh. Apparently Julia insists on reseting the modification date for the extract files, so my change did not help. I guess it depends on random fluctuations / file system differences / whatever else i cannot control how the relative modification times are... For me, `configure` is slightly (one tick) newer than `configure.ac`:
[code]
I assume for you it's reverse. So I'll have to investigate optio

[2020-04-11 12:27] mohamed-barakat commented on #406
For me it is the same:

[code]

[2020-04-11 12:37] fingolfin commented on #406
Huh. Actually configure is *older* than configure.ac for both of us. So the weird thing is: why doesn't it run autoconf for me, too ?!?

[2020-04-11 13:18] mohamed-barakat commented on #406
As you mentioned above

`touch Users/mo/.julia/artifacts/5f84ea130b97f5f163682f0f9bac5ebff45e7d18/gap-4.11.0/configure`

resolved the problem for me temporarily.

[2020-04-11 22:07] mohamed-barakat opened #408 "GAP.Packages.install now broken because of different build directory"
[code]

[code]

[2020-04-11 22:27] mohamed-barakat commented on #408
Is there a way to get the build directory apart from `GAP.gap_exe()`, i.e., that would also work for older versions of `GAP.jl`?

[2020-04-13 20:01] #389 closed

[2020-04-14 01:18] fingolfin commented on #408
The error is caused by a "bug" in PackageManager; I'll submit a PR there, and try to workaround it for GAP 4.11.0 for now.

As to your second question, I am not sure I understand. What directory are you looking for? And what do you want to do with it?

[2020-04-14 02:13] #406 closed

[2020-04-14 02:13] mohamed-barakat commented on #408
I am looking for the directory were GAP was built as I want to pass it as the GAP root directory to the `configure` script of the GAP package I would like to compile.

[2020-04-14 02:15] fingolfin commented on #408
For that you can use `GAP.GAPROOT`; this works in all GAP.jl versions

[2020-04-14 12:40] mohamed-barakat opened #415 "REPL editing broken in $(julia -e 'import GAP; print(GAP.gap_exe())')"
The backspace or the arrows corrupt the input line.

[2020-04-14 13:24] fingolfin commented on #415
Indeed, I can reproduce this. I am linking against a copy of GNU readline produced by @benlorenz for Polymake.jl, see https://github.com/benlorenz/readlineBuilder -- the idea being that I want to use the identical dylibs as they are, to minimize the risk of conflicts (and soon we'll both want to switch to the corresponding _Jll, that'll be a relief)

[2020-04-14 19:22] mohamed-barakat opened #416 "JuliaExperimental warns of not being able to load Nemo and Primes if they are not explicitly added to Julia"
[code]

After

[code]

now `JuliaExperimental` loads without warnings:
[code]

[2020-04-14 19:44] mohamed-barakat commented on #416
To avoid any misunderstanding: It is not enough to `add GAP`.

[2020-04-15 10:33] benlorenz commented on #415
We could switch to the binaries from the jll without switching to the jll more or less right now by using this [build_Readline.v8.0.0.jl.txt](https://github.com/oscar-system/GAP.jl/files/4480591/build_Readline.v8.0.0.jl.txt) generated from the Yggdrasil `generate_build.jl`. If this helps your issue I can do the switch for polymake.

polymake doesn't really need readline when it is used in library

[2020-04-16 10:34] ThomasBreuer opened #419 "problem with `import` statements in files loaded via `JuliaIncludeFile`"
Currently I run into the following problem.
I start GAP, load its JuliaInterface package, and then call `JuliaIncludeFile` for a file containing a Julia module.
If this Julia module tries to import GAP (which makes sense if the Julia code wants to call GAP functions) and also some other Julia module then strange things happen.

**Case 1**:
The included file is `testGP.jl` and looks as follows.
[co

[2020-04-16 16:01] ThomasBreuer commented on #419
Update:
With `Pkg.update( "GAP" )` and `Pkg.build( "GAP" )`, I got a new artifact containing GAP 4.11.0,
and with this setup, the behaviour in both of the two above cases is that described for Case 1.

(The line editing problem for GAP has vanished in the new setup.
There is still the problem that the `Browse` package can be compiled but GAP cannot load it and claims that the .so file is not found

[2020-04-16 16:13] fingolfin opened #420 "Feature: nicer input syntax for permutations"
This is an older idea but I am not sure I ever wrote it down, so here goes: it might be kinda nice to add a macro that makes it convenient to enter permutations in cycle notation, GAP style. This can be achieved using macros. With the [MacroTools.jl](https://github.com/FluxML/MacroTools.jl) package, it is particularly convenient:
[code]
This works because Julia parses the expression `(1,2)(3,4,5)`

[2020-04-16 16:18] fingolfin commented on #419
Re line editing: I am working on that but the term has started and I have a babysitter only for a few hours on 3 days the week, so progress is slow. But I have a solution, stay tuned.

I'll look into this, too.

(BTW, unrelated and not solving the line editing issue, but: I just discovered that from the Julia prompt you can trivially get to a GAP prompt by entering `GAP.Globals.SESSION()`; when yo

[2020-04-27 13:40] ThomasBreuer commented on #390
Pull request #423 deals with the (hopefully) non-controversial parts of this issue:

- Caching the values of arbitrary Julia variables in GAP's `IsJuliaModule` objects cannot work because the values may be changed in Julia.
  Caching Julia modules is safe because they can be imported only once into Julia.
  Thus the `storage` components in the `IsJuliaModule` objects should be restricted to Julia

[2020-04-27 23:46] fingolfin opened #428 "Add constructors for conversion from GAP to Julia"
We should salvage at least part of PR #323 by @kalmarek ! That is, I very much would like to have constructors for BigInt, BigFloat, Float64, Int64, etc. etc. that accept a `GapObj`, and which would throw a `GAP.ConversionError` in case of a failure. I'd also refactor `gap_to_julia` to use these constructor where appropriate / sensible (just as PR #323 did).

At least for the basic types, this sho

[2020-04-27 23:50] fingolfin commented on #390
`JuliaSymbolsInModule` can IMHO go, see my PR for that.

For `ImportJuliaModuleIntoGAP` I think the idea was that this is meant to be roughly analog to `import` in Julia.

[2020-04-28 07:52] ThomasBreuer commented on #428
@fingolfin Yes

[2020-04-29 00:11] fingolfin commented on #428
This is what I meant when I wrote:

I.e., for starters I'd already be happy if we had at least constructors for Int, BigInt, Float, BigFloat, String, ... even if we had none for containers (at least at first)

BTW, I would not use a second argument for constructor to pass the recursion dictionary; I'd rather use a keyword argument, just as we do with `gap_to_julia` methods.

Anyway, In the end, I

[2020-05-05 04:37] mohamed-barakat opened #432 "Release without LinearAlgebra dependency"
It would be nice if you could soon make a release without the LinearAlgebra dependency which has already been eliminated in #411.

This would make the `HomalgProject` test run with a released `GAP`.

[2020-05-05 11:10] ThomasBreuer commented on #428
@fingolfin Can this issue be closed?

[2020-05-05 13:50] ThomasBreuer opened #433 "detect whether JuliaInterface (and GAP.jl) fit to a running GAP"
With the current master GAP.jl, the following happens:
I start a GAP that does *not* fit to the master GAP.jl, for example a master GAP,
and erroneously call`LoadPackage( "JuliaInterface" )` at the GAP prompt.
If GAP finds the JuliaInterface of the master GAP.jl then the following message appears.
[code]
Apparently GAP.jl has noticed (at the beginning of `src/GAP.jl`) that the GAP in question does

[2020-05-05 23:25] #428 closed

[2020-05-05 23:28] fingolfin opened #435 "Don't call Pkg.build("GAP")"
We call `Pkg.build("GAP")` inside `GAP.jl` if we can't find GAP. But if the user did `Pkg.add("Oscar")` and got GAP this way, but never did `Pkg.add("GAP")`, then `Pkg.build("GAP")` actually runs into an error.

It seems there is just no good way for a package to "build itself"... Well, I guess we could run `build.jl` ourselves (or a close approximation), which should work, but opens its own can o

[2020-05-05 23:41] fingolfin commented on #433
Not quite (or perhaps I misunderstand): At the moment, GAP.jl *always* assumes that it is used with a GAP that was built as part of GAP.jl. Period.

The only way to use a custom GAP with it is via an artifacts override, and even that is incomplete.

So there are multiple issues to consider here:

1. Do we want to allow using GAP.jl / JuliaInterface with an "alternative" GAP provided by the user? M

[2020-05-06 00:57] fingolfin commented on #432
A new release is indeed overdue. I'll make one by the end of the week, promise.

But I was *really* hoping to switch to using JLLs in that release, at least for GNU readline, to overcome the buggy readline experience (it's simply completely broken). Not sure why; but the quickest fix seemed to switch to using [Readline_jll](https://github.com/JuliaBinaryWrappers/Readline_jll.jl).

Unfortunately us

[2020-05-06 07:55] ThomasBreuer commented on #433
@fingolfin Thanks.
My point is just what you write in the end:
Users will have various versions of more or less outdated packages, and it is likely that one uses by chance some combination that is not the expected consistent current version of everything.
Thus it is helpful to get warnings or error messages in such cases.
For example, several GAP versions were installed due to the recent changes i

[2020-05-06 08:19] fingolfin commented on #432
Ah what fun: while using Readline_jll fixes readline (see issue #415) for me on macOS, it does not do so on Linux. Grrr.

[2020-05-06 09:22] ThomasBreuer commented on #419
Just for the record:
With a GAP session started from Julia via `GAP.Globals.SESSION()`, the inputs described above work without problem. In this situation, just the line editing seems to be missing.

(At first glance, I had thought that the `GAP.Globals.SESSION()` approach in Julia could also solve my old problem that a Jupyter notebook with GAP kernel crashes as soon as GAP loads JuliaInterface.

[2020-05-06 09:58] fingolfin commented on #419
OK, interesting. I still need to get to the bottom of this.

Regarding Jupyter integration: Well, I was also wondering if we could use this... indeed it's not quite *that* simple. But perhaps we could somehow write our own `IGap.jl` based on `IJulia`, but instead of evaluating inputs in Julia, we evaluate them in GAP etc. -- "how hard can it be???" ;-)

[2020-05-06 14:28] fingolfin commented on #433
I just made PR #436 which should resolve the issue in #410 (I've not yet have time to try GAP master with GAP.jl myself, but let me know if there are more issues).

Thank you for the explanation of why accessing `../../deps/deps-....jl` is useful, I see now. I think that yes, it is safe to access those: if we ever decide to change or move them, then we'll simply have to adjust this in build.jl and

[2020-05-06 14:34] fingolfin commented on #390
@ThomasBreuer I am not sure what the status of this, do I or we still need to do something?

[2020-05-06 14:49] fingolfin opened #437 "Travis: figure out if caching Julia artifacts makes sense (i.e. provides a speedup), and how to do it safely"

[2020-05-06 14:58] ThomasBreuer commented on #390
@fingolfin I will adjust the documentation accordingly; besides that, the problems are solved.

[2020-05-06 14:58] #390 closed

[2020-05-06 19:36] mohamed-barakat commented on #432
It works for me on `plesken`.

[2020-05-06 19:41] mohamed-barakat opened #438 "How to get sublists of a GAP list?"
[code]
Is there an easy way to get the sublist `L{[ a .. b ]}` as a GAP list?

[2020-05-06 20:04] mohamed-barakat opened #439 "JuliaToGAP cannot convert Julia ranges to GAP lists"
[code]

[2020-05-06 20:06] mohamed-barakat commented on #439
I lost the overview of current issues. Sorry if this one is covered by an existing issue.

[2020-05-06 20:38] ThomasBreuer commented on #439
As far as I see, this is new.
I will create a pull request for this and #438.

[2020-05-06 20:39] mohamed-barakat commented on #438
Thank you very much. It works for me locally. I would be happy to see this supported by `GAP.jl`.

[2020-05-06 21:16] fingolfin commented on #438
The 2nd and 3rd method seem plausible to me, but the first one, `Base.getindex(x::GapObj, l::GapObj) = GAP.Globals.ELMS_LIST(x, l)`, seems problematic: what if `l` is e.g. a big GAP integer, or a string? We do allow `dict["key"]` in GAP theses days. Then we should not call ELMS_LIST but ELM_LIST....  Of course we could check the TNUM or something in there; but it might be safer to just omit this m

[2020-05-06 21:38] fingolfin commented on #432
Interesting, it doesn't for me (also on plesken). But perhaps it's time to wipe my .julia (minus 31GB of `artifacts` downloaded for building stuff via BinaryBuilder for Yggdrasil...)

[2020-05-06 21:42] fingolfin commented on #432
Nope, doesn't help... @mohamed-barakat when you say "it works": how exactly are you starting GAP then?

[2020-05-06 22:44] mohamed-barakat commented on #432
I am very sorry. I ended up starting `.julia/packages/GAP/4od8v/gap.sh`. I will check with the dev version.

[2020-05-06 22:47] mohamed-barakat commented on #432
I confirm, it does work on `plesken`.

[2020-05-06 23:31] fingolfin commented on #432
So you start it by entering `~/.julia/packages/GAP/4od8v/gap.sh`  ? Could you copy&paste the content of that gap.sh here (I had multiple versions over time, might help me narrow down what's going on).

[2020-05-06 23:37] mohamed-barakat commented on #432
Readline worked with this version `GAP.jl`:
[code]

[2020-05-06 23:41] mohamed-barakat commented on #432
And also works when I invoke it this way:

[code]

[2020-05-06 23:45] mohamed-barakat commented on #432
I will delete my comments and them again systematically below.

[2020-05-07 00:23] mohamed-barakat commented on #432
On MacOS and Linux:

`$ /home/mo/.julia/packages/GAP/4od8v/gap-4.11.0/gap -l "/home/mo/.julia/packages/GAP/4od8v/;/home/mo/.julia/packages/GAP/4od8v/gap-4.11.0"` -> works

MacOS, Gap.jl d3a31f0:

`$ ~/.julia/dev/GAP/deps/build/gap-4.11.0-julia-1.4/bin/gap.sh` -> broken readline

Linux, GAP.jl d3a31f0

`$ ~/.julia/dev/GAP/deps/build/gap-4.11.0-julia-1.4/bin/gap.sh` -> works

[2020-05-07 00:34] #435 closed

[2020-05-07 12:10] mohamed-barakat commented on #438
PR #444 does all that I need.

[2020-05-07 12:14] #438 closed

[2020-05-07 12:15] ThomasBreuer commented on #438
done because of #444

[2020-05-07 12:16] ThomasBreuer commented on #439
done because of #444

[2020-05-07 12:16] #439 closed

[2020-05-07 12:18] fingolfin commented on #439
@ThomasBreuer you can write messages like `closes #12345` into the description of your PRs; this way, when they are merged, the relevant issues (or other PRs) are automatically closed; see https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-05-07 17:06] mohamed-barakat commented on #432
MacOS, GAP.jl bfd980b:

`$(julia -e 'import GAP; print(GAP.gap_exe())')` -> broken readline

Linux, GAP.jl bfd980b:

`$(julia -e 'import GAP; print(GAP.gap_exe())')` -> works

[2020-05-07 17:39] fingolfin commented on #432
Yeah, but for me, with `mh/jll` it is simply reverse that.

[2020-05-08 11:28] fingolfin opened #446 "Make GAP.jl threadsafe / safe to use from multi-threaded Julia"
First work on this was merged with PR #302 by @rbehrends but it is my understanding that this needs more work.

This is distinct from allowing GAP.jl to use multiple *GAP* threads, e.g. via HPC-GAP.

[2020-05-08 13:19] rbehrends commented on #446
The current problem is that aggressive parallelization can still lead to occasional race conditions. These situations have to be identified and fixed.

[2020-05-10 21:19] fingolfin commented on #437
Teste it, found no speed up (and in fact the download speed was already pretty good)

[2020-05-10 21:19] #437 closed

[2020-05-10 21:26] ThomasBreuer opened #447 "installation problem for version 0.3.5"
The following is likely irrelevant after the next release of GAP.jl, due to the completely changed build system.
However, when I install Oscar 0.3.0 from scratch, I run into the following problem.
(Oscar 0.2.0 does not have GAP.jl in its dependencies, thus I need 0.3.0.)
I remove all Oscar.jl related packages from my `.julia/packages`, download Oscar 0.3.0, start Julia 1.3.0 and enter `using Pkg;

[2020-05-10 22:05] fingolfin commented on #447
Can you also reproduce this with Julia 1.3.1 or 1.4.1?

[2020-05-11 00:09] fingolfin commented on #447
In addition, is this on Linux? Which distro? I cannot (yet) reproduce this, I am afraid.

[2020-05-11 06:52] ThomasBreuer commented on #447
@fingolfin
Julia 1.3.1 and Julia 1.4.0 show the same behaviour.
According to `lsb_release -a`, the operating system is `Ubuntu 18.04.4 LTS`.

[2020-05-12 01:04] fingolfin opened #452 "Travis: compiling `profiling` package fails due to missing autoconf"
The following has been happening on Travis for some time:
[code]
Of course we could work around this by e.g. installing autoconf. But there are two underlying issues I'd rather fix:

1. Why don't the Travis job fail??? I mean, it's "nice" that I can ignore this issue for now and focus on more important things, but in general I'd prefer to notice these things.

2. To fix it, we could modify the GAP

[2020-05-12 01:06] mohamed-barakat commented on #415
This issue should be reopened or another similar one should be opened.

[2020-05-12 01:09] fingolfin commented on #415
That was an accident: I intentionally modified the "fixes BLA" comment in PR #427, but that wasn't enough (probably because of the still relatively GitHub feature of "linking" issues to PRs)

[2020-05-13 11:28] fingolfin opened #454 "Idea: implement a new GAP-Jupyter integration using IJulia and GAP.jl"
This may require some effort but could be interesting for multiple reasons. Alas, I am not sure it makes sense to work on this within the OSCAR framework (in terms of "how we spend the funding" etc.). But perhaps somebody is interested in working on this nevertheless?

[2020-05-13 11:30] fingolfin commented on #303
@ThomasBreuer can you look into this, and in particular work a bit on the documentation for GAP.jl? Looking at https://oscar-system.github.io/GAP.jl/dev/ we really need at least a basic intro as to what the package is about (could be based on README? Although it needs to be improved there, too). And an example. And anything else you can think of... (If it helps, I could also sit down later and try

[2020-05-13 11:36] ThomasBreuer commented on #303
Yes.
(Part of what is needed can be taken from the JuliaInterface manual.)

[2020-05-13 11:38] fingolfin opened #455 "Meta issue: Better documentation"
We need to improve the documentation. Some TODOs for that (more can and should be added here)

- [ ] Link up items which are documented but not shown in the manual yet
- [ ] Add description what the package is about
- [ ] Add DFG funding notice to package manual
- [ ] Resolve issue #356
- [ ] Add examples; Resolve issue #303
- [ ] Document more functions

@ThomasBreuer @mohamed-barakat feel free t

[2020-05-13 11:53] ThomasBreuer opened #456 "problem to load GAP's Browse package"
With the current master branch of GAP.jl, I tried to install the Browse package,
that is, I go to `~/.julia/artifacts/848f0f318405266896d24d11e4baf5cf7bf3f203/gap-4.11.0/pkg/Browse`, call `./configure /.../GAP.jl/deps/build/gap-4.11.0-julia-1.4; make`,
and then start GAP and enter `LoadPackage( "Browse" );`, with the following error message:
[code]

[2020-05-13 16:44] mohamed-barakat commented on #454
This might be even the only way to recover the Jupyter functionality for GAP in a more robust way.

[2020-05-13 23:22] fingolfin commented on #415
@mohamed-barakat this should be resolved in GAP 0.4.0, can you please check?

[2020-05-13 23:26] mohamed-barakat commented on #415
Yes, resolved :) Thank you for the excellent work.

[2020-05-13 23:26] #415 closed

[2020-05-15 07:19] ThomasBreuer commented on #456
The problem can be fixed on the side of the Browse package.
@frankluebeck is working on it.

[2020-05-15 22:36] mohamed-barakat opened #457 "GAP.Globals.Display vs GAP.Display"
The two methods `GAP.Globals.Display` and `GAP.Display` behave differently. The latter prints one more newline. Are they meant to be different and which one should be used?

[code]

[2020-05-17 14:26] mohamed-barakat opened #458 "GAP.prompt() changes the behavior of julia even after quitting"
[code]

[2020-05-18 07:42] ThomasBreuer commented on #458
I can reproduce the problem with Julia 1.4.0.
After entering a GAP session with `using GAP; GAP.prompt()` and then leaving it, an error in the Julia session ends up at the `brk> ` prompt of GAP, and leaving the break loop then causes a Julia crash; the error message I get is different: `*** longjmp causes uninitialized stack frame ***`.

[2020-05-18 09:11] ThomasBreuer commented on #457
Thanks for this observation.
The reason for the visible difference is that `GAP.Display` calls Julia's `println` with a string that contains already a trailing newline character.
I think we should fix this by calling `print` instead of `println`, I will create a pull request for that.

Logically, the two functions differ in the sense that Julia prints the output in the case of `GAP.Display` wherea

[2020-05-18 13:39] fingolfin opened #460 "Add automated CI tests for the GAP.prompt()"
Right now I am not aware of a "good" way to test GAP.prompt(); but I'd really like to have one, so that when an issue like #458 pops up, then the fix (here in #459) can also include a test that verifies the issue is gone.

One way to go about this might be to use [pexpect](https://pexpect.readthedocs.io/en/stable/index.html) which can be used to automate interactive command line utilities. (Of cou

[2020-05-18 15:27] ThomasBreuer commented on #456
Meanwhile @frankluebeck has found a way to change the installation scripts for Browse such that the needed libraries are found at runtime: Add the `GAP_LIBS` path to the `-L` option of `gac`.
We can address this in the next release of Browse.
However, it may be that the same problem affects also other GAP packages, that is, this solution is perhaps not optimal.
Note that one does not get error mes

[2020-05-18 15:43] ThomasBreuer opened #461 "a change due to `GAP.prompt()`"
In a GAP session started from Julia with `GAP.prompt()`, one gets the following.
[code]
In a GAP session started in the traditional way, one gets the following.
[code]
(I just stumbled over this because it occurs in one of the test files for JuliaInterface.)

[2020-05-18 19:59] mohamed-barakat commented on #432
This issue can be closed. Right?

[2020-05-18 20:14] mohamed-barakat opened #462 "building GAP.jl fails in a docker container running ubuntu:latest"
In the attempt to debug a failure on travis I am trying to build `GAP.jl` in a docker container running ubuntu (ubuntu:latest). The build fails. The log file is attached.

[build.log](https://github.com/oscar-system/GAP.jl/files/4646432/build.log)

[2020-05-18 20:32] #458 closed

[2020-05-18 21:44] fingolfin commented on #461
What exactly do you mean with "startedin the traditional way"? I.e. what are you doing?

If I do `$(julia -e 'import GAP; print(GAP.gap_exe())')` I get the first behaviour you list!

And indeed, this looks like an improvement to me; the "old" way of loading julia-in-gap necessarily was not following exactly the same steps as gap-in-julia did; one of the things we had to deal with is that we might

[2020-05-18 21:45] fingolfin commented on #462
[code]

This looks like that contain has a broken Julia installation

[2020-05-18 21:49] fingolfin commented on #462
How was `julia` installed in this container?

[2020-05-18 22:11] mohamed-barakat commented on #462
[code]

[2020-05-18 22:14] fingolfin commented on #456
First off, an unrelated remark: running `BuildPackages.sh` inside the `artifacts` directory in general is not a good idea -- that directory is meant to be immutable. Yes, GAP.jl does it right now if one asks for it, but this is just a temporary hack (and will not work for all packages, as Julia changed all files to read-only in there; due to the way Unix permissions work, though, one can still add

[2020-05-18 22:16] fingolfin commented on #462
Yeah, well, this is Debian/Ubuntu, the masters of chopping up upstream packages and disfiguring them until they are broken beyond repair... e.g. they modify GAP to force it to load w/o smallgroups installed, and when we thought about adding code that would print a warning in this setup that things might be broken, they announced they'd also patch our warning out...

Look for a `julia-dev` package

[2020-05-18 22:17] fingolfin commented on #456
Looking at https://packages.ubuntu.com/search?suite=default&section=all&arch=any&lang=de&keywords=julia&searchon=namesit seems `libjulia-dev` is what you need

[2020-05-18 22:22] fingolfin commented on #457
Thanks for the PR. But Mohamed still posed a good question:

If we keep GAP.Display, we should ponder some things:
1. What *is* it for, and for whom?
2. If the only purpose is that we want to print via Julia routines instead of GAP routines, wouldn't we be better of patching GAP so that all its printing goes through Julia? This would possibly also help the Jupyter integration. Seems like something

[2020-05-18 22:27] mohamed-barakat commented on #462
I see :( I've already tried getting `julia-dev` but `E: Unable to locate package julia-dev`.

Do you have an idea of where to find the ubuntu image Travis uses for building?

[2020-05-19 01:05] fingolfin commented on #462
Searching https://packages.ubuntu.com/search?lang=de&keywords=julia&searchon=names suggests that `libjulia-dev` is the name of the package

[2020-05-19 01:45] mohamed-barakat commented on #462
This resolves the issue. Thank you very much Max.

[2020-05-19 01:45] #462 closed

[2020-05-19 01:50] mohamed-barakat commented on #462
Now I can finally debug the [failing tests](https://travis-ci.com/github/homalg-project/HomalgProject.jl/jobs/336020505) for 4ti2Interface on ubuntu :)

[2020-05-19 03:35] mohamed-barakat opened #465 "GAP.prompt() broken in ubuntu docker container"
[code]
After pressing `^L` one prompt vanishes but the double prompt reappears again after next ENTER.

[2020-05-19 10:28] ThomasBreuer commented on #461
@fingolfin

1. The traditional way to start GAP is to call the its executable, where the root directories are specified via the `-l` option. If this is no longer allowed in the presence of GAP-Julia integration then we have to state this in the documentation (of JuliaInterface, say) and to tell the reasons (like what you have sketched); is this the case?

2. As I wrote, the output `<Julia: Main.GA

[2020-05-19 11:03] ThomasBreuer commented on #456
@fingolfin Thanks.
Yes, the visual problems arise when I start Julia, enter `using GAP; GAP.prompt()`, and then call `Browse( CharacterTable( "A5" ) );` at the GAP prompt.
The environment variable `ENV[ "TERMINFO_DIRS" ]` is set after `using GAP` (or earlier if I set it already before starting Julia, the effect is the same in both situations).
Without this environment variable, one gets an error m

[2020-05-19 11:51] #457 closed

[2020-05-19 16:08] ThomasBreuer commented on #456
@fingolfin Thanks for the hint about libjulia-dev.
This library is not available for my Ubuntu 18.04, but the problem is gone with Ubuntu 20.04.
If we regard this as a solution then the issue can be closed.

[2020-05-19 22:54] fingolfin commented on #461
Actually, I'd say the traditional way for 99% of all users is to run `bin/gap.sh` provided with GAP, not to invoke the gap executable directly with `-l` options...

That said, it is still "allowed" to do so, but fact is that there will be subtle difference when doing this, difference that may be difficult to remove.

The reason the CI tests complain is because the CI tests use bin/gap.sh. and so t

[2020-05-19 22:55] fingolfin commented on #465
Sounds like another ncurses/readline issue? But you don't provide enough information to reproduce or debug this, really. E.g. Is this with GAP.jl 0.4.0 or master? Which Ubuntu version, which Julia? Can you perhaps specify which exact Docker image you are using? Etc.

[2020-05-20 06:40] mohamed-barakat commented on #465
1. `ubuntu:latest`
[code]
2. `apt-get update; apt-get install -y build-essential curl julia libjulia-dev` # this will get you julia 1.4.1
3. `pkg> dev GAP`

[2020-05-20 08:24] fingolfin commented on #465
And what does `printenv TERM` say in that VM?

[2020-05-20 08:48] fingolfin commented on #465
OK, I replicated this; `TERM` is set to `xterm` for me.

So I am pretty sure this is an artifact of running into a barebones container. If you look at the Julia and GAP banners, you will notice that they are "degraded" when compared to how they usually look: for Julia, I see `Ubuntu ⛬  julia/1.4.1+dfsg-1` (note the broken character after "Ubuntu"). For GAP the "box" around GAP is not rendered with

[2020-05-20 09:39] #432 closed

[2020-05-20 09:41] #452 closed

[2020-05-20 09:49] frankluebeck commented on #456
I can reproduce the visual problems in Ubuntu 18.04, there is no such problem in Ubuntu 20.04 or in Debian 10. I have no idea what causes the difference.

Setting `TERMINFO_DIRS` to the system default terminfo path before starting julia causes that GAP (with Browse) cannot be loaded. Otherwise this variable is correctly set to the libinfo directory inside julia's GAP  installation, and then Browse

[2020-05-20 10:24] ThomasBreuer commented on #461
@fingolfin I do not understand your last sentence:
In pull request #468, I have changed the test output to `<Julia: GAP>`, which is the correct result when GAP gets started from Julia. Travis complains (see https://travis-ci.com/github/oscar-system/GAP.jl/jobs/337445417) that the output should be `<Julia: Main.GAP>`.
My interpretation is that the test runs (which is good) but that it does not run

[2020-05-20 21:07] mohamed-barakat opened #470 "GAP.Packages.install( "ferret" ) on GAP.jl#master displays an error message but succeeds to compile"
This is a minor issue:

GAP.Packages.install( "ferret" ) on GAP.jl#master displays an error message but succeeds to compile:

[code]

Reproduce:
[code]

[2020-05-20 22:41] fingolfin commented on #470
This is a bug in ferret, see https://github.com/gap-packages/ferret/pull/35

[2020-05-20 22:41] #470 closed

[2020-05-20 23:04] mohamed-barakat commented on #470
Thanks :)

[2020-05-20 23:34] fingolfin commented on #461
Sorry, my bad, I totally misunderstood what you wrote. So, yeah, you are right: this is really weird.

When I run the test suite locally (after starting GAP via `./deps/build/gap-4.11.0-julia-1.4/bin/gap.sh`), I see this:
[code]

Weird. I would now starting wondering if this could be an issue on Travis, but my experimental CI test runner for GitHub Actions behave the same as Travis (i.e., they pas

[2020-05-21 09:39] ThomasBreuer commented on #461
@fingolfin Thanks for the confirmation.
The outcome could have been worse,
cf. http://www.math.rwth-aachen.de/~Thomas.Breuer/eyetest.html

[2020-05-30 22:19] mohamed-barakat opened #471 "Document ForeignGAP.MPtr"
I needed [ForeignGAP.MPtr](https://github.com/oscar-system/GAP.jl/blob/992bf34386554eccd7356089fc1bb2729fca5929/src/GAP.jl#L48) in [this code](https://github.com/homalg-project/HomalgProject.jl/blob/master/src/HomalgProject.jl#L82). So maybe it is indeed a good idea to document it.

[2020-05-30 23:01] fingolfin commented on #471
`Main.ForeignGAP.MPtr` is a low-level implementation detail that I really don't want to document (beyond source code comments). It's also unclear to me why you need it in that code -- why can't you use its supertype `GAP.GapObj`?

[2020-06-16 12:41] fingolfin opened #473 "Rename EvalString to something more Julia like"
We really should rename `EvalString` to a more julia like name. Note that `eval` is already taken and has a special meaning in Julia; but e.g. `evalstr` or `evalgap` or so might be OK.

To allow other code depending on GAP.jl to transition, we could retain an `EvalString` method which invokes the new method but perhaps also prints a deprecation warning.

[2020-06-16 12:49] fingolfin opened #474 "Better EvalString error"
Right now we have this:
[code]
We should produce a better error; or perhaps better: just return `nothing`.

[2020-06-17 08:51] ThomasBreuer commented on #473
I prefer `evalstr`, the GAP context is usually clear because the function will be called as `GAP.evalstr`.
The name change will be part of the revised #472 .

[2020-06-17 15:13] #473 closed

[2020-06-18 12:15] fingolfin opened #475 "Allow `julia_to_gap(x; recursive=true)`"
Recursive conversion right now works this way:
[code]
Using `Val` arguments was (IIRC) meant to be an optimization; I am not sure if it does that, but I *am* sure that it makes it harder to use the code, as the two directions diverse.

So I think we should also allow `julia_to_gap(x; recursive=true)` -- I guess we can achieve with 1-2 lines of added code (plus some more for tests). @ThomasBreuer c

[2020-06-18 12:58] fingolfin opened #476 "Suppress output of `GAP.Packages.install` if package is already installed?"
If one needs a package like "ferret" inside Julia code, one may want to call `GAP.Packages.install("ferret")` to ensure it is available; the operation is essentially idempotent, so this is fine. However, it outputs text which is visible to the user, which is not nice:
[code]

[2020-06-18 16:46] ThomasBreuer commented on #475
@fingolfin Yes, I will do this.

[2020-06-18 17:09] ThomasBreuer commented on #476
The info messages in question are created by PackageManager if the info level of `InfoPackageManager` is at least 3, which is the default value.
If the point is to avoid the messages then we could set the level to 2 in the Julia code, or even to a smaller value.

However, if the point is to make sure that *some* version of the package is available, calling PackageManager's `InstallPackage` is not

[2020-07-01 08:14] ThomasBreuer opened #482 "provide `convert` methods for GAP to Julia conversion, parallel to constructor methods"
This has been suggested by @fingolfin in comments to issue #428 (with links to Julia developers' discussions) and pull request #481 .

[2020-07-06 13:57] #475 closed

[2020-07-10 16:02] fingolfin opened #484 "doctest fail with Julia 1.6?"
See https://travis-ci.com/github/oscar-system/GAP.jl/jobs/359229945

This seems annoying, not sure we can do something clever about it

CC @ThomasBreuer

[2020-07-10 16:02] fingolfin commented on #484
Perhaps we can use https://juliadocs.github.io/Documenter.jl/stable/man/doctests/#Filtering-Doctests to help with this

[2020-07-11 16:09] fingolfin opened #485 "Reduce the overhead for GAP symbol lookup via `GAP.Globals.NAME`"
**UPDATE: The timings I originally posted here were made after `using Oscar`; as I now know, that inflated them; so I update the numbers with fresh ones taken after just `using GAP`.**

The overhead for `GAP.Globals.NAME` is currently quite high:
[code]
Benchmarking this with `BenchmarkTools.jl` gives:
[code]

This is indeed quite noticeable; compare this trivial example where we query `IsAbelian`

[2020-07-11 16:59] fingolfin opened #486 "Reduce overhead for calls from Julia to GAP"
The overhead for simple calls to GAP functions is rather (too) high at the moment. Compare the following timings; first on the Julia side (see also issue #485):
[code]
Here are the timings:
[code]

UPDATE: the old timings were taken when Oscar was loaded and are much higher. I leave them here for reference:
[code]

Now compare this to the following GAP equivalent GAP code and its timings:
[code]
A

[2020-07-11 17:32] fingolfin commented on #486
For reference, I've also run the last benchmark in a "plain" GAP (using GASMAN etc.), and tested with my own benchmarking tools. To my surprise, it actually clocked in a bit slower... however that might just be due to different overhead in my custom benchmarking code. Here's what I got:
[code]
I increased the number of repetitions in the two functions by a factor of 10, and got the following, whic

[2020-07-11 22:31] fingolfin commented on #485
OK, so I am really confused by this and hope somebody (e.g. @rbehrends) can help me understand this: the above timings vary wildly depending on whether I just load GAP.jl; just load Oscar.jl; or load first GAP.jl and then Oscar.jl. (In each of the three cases, I copy&pasted the code for `test_simple()` into my session; I am using Julia 1.4.2 on macOS, GAP 0.4.2 and the latest Oscar.jl `master` bra

[2020-07-12 00:42] fingolfin commented on #485
I guess type (in)stability is partially (if not mostly) relevant for the overhead. However, I still don't understand how that might explain the slow down when Oscar is loaded. Huh

[2020-07-12 12:09] rfourquet commented on #485
On my machine with Julia 1.4.1, I observe these timings for `test_simple`:
* `GAP` loaded: 52ms
* `Oscar` loaded: 438ms
* `GAP` and `Oscar` loaded: 445ms

So no difference between the last two timings basically.

On 1.6 the difference appears less important: 52ms with `GAP` and "only" 242ms with `Oscar`. In any case, I don't see what could cause this difference.

[2020-07-12 13:34] fingolfin commented on #485
Just to verify/clarify: `using Oscar` and `using Oscar, GAP` behave the same; it is only with `using GAP, Oscar` (i.e. really loading GAP *before* Oscar) that I see a difference. Anyway, to make sure this is not just Mac specific, I re-run the tests on a Linux machine. For all tests, I used a dedicated Julia project with the following packages installed (I had to dev Polymake and Nemo, otherwise P

[2020-07-12 13:46] rbehrends commented on #485
I tested with Julia 1.4.1 and got somewhat different results, matching those of Rafael in that the about 10-fold difference was made by using Oscar, both with and without GAP.

Some profiling indicates that the extra time is spent in `jl_typemap_level_assoc_exact()`, called from `jl_lookup_generic_()`.  For the slow case it is being called a lot, for the fast case it doesn't even seem to show up o

[2020-07-12 22:53] fingolfin opened #488 "Find a way to merge GapObj / MPtr after all, or at least mitigate the performance penalty introduced by their split"
Consider this test code (which also covers the issues reported in #485 and #486):
[code]
Then I currently get these timings (note in particular the last three):
[code]

Before discussing the numbers, a brief detour: very annoyingly, if I repeat the test with PR #487 applied, which is meant to improve performance, things actually get slower *sigh*:
[code]

Anyway: The problem I actually wanted to d

[2020-07-12 23:52] fingolfin opened #489 "Tab completion on GAP.Globals.FOOBAR could be faster"
If I type in `GAP.Globals.Fibon` and press the TAB key, I'd expect this to be complete to `GAP.Globals.Fibonacci` instantly. In practice, it takes about a second. That's quite jarring and regularly causes me to make mistakes (as I press TAB; nothing happens so I think "OK probably I need to enter a few more letters", I start typing.... and the letter I type are appended to the result of the comple

[2020-07-13 01:24] fingolfin commented on #482
Also, this could perhaps be supported for the other direction as well: `convert(::Type{GapObj}, foo) = julia_to_gap(foo)` or so (of course that doesn't provide the recursion support, but at least it'll be easy to discover for regular Julia users)

[2020-07-13 09:54] rfourquet commented on #488
I don't know of a solution, but just wanted to mention that the timing differences are more dramatic on master than on 1.4, and that type annotations have the same effect as using a function barrier:
[code]
Also I made `G` constant here for the timings. On 1.4 I get:
[code]
On master (v1.6):
[code]

[2020-07-13 10:17] #489 closed

[2020-07-13 21:14] ThomasBreuer commented on #484
In principle, the `doctestfilters` feature seems to solve the problem.
I would prefer the variant where all differences are collected globally, and entered as one list to the function in question (as opposed to the variant where each affected doctest gets such an "annotation").
This works for executing doctests as a part of what `makedocs` does, but it seems not to work for executing doctests as o

[2020-07-15 12:47] fingolfin commented on #275
Here is an updated version of the example which actually demonstrates the issue (converting to `String` is a bit misleading for various reasons).
[code]

So what happens here is that we convert `l[1]` happily to a `Vector{Char}`. But then when we want to produce an `NTuple{4,Char}`, we fetch that `Vector{Char}` from the conversion dict and try to return it -- then the code one level above wants to

[2020-07-16 09:00] rfourquet commented on #275
I would lean towards option 3., I think this should be almost free performance-wise, and probably doesn't add more complexity than other options.

[2020-07-16 09:17] ThomasBreuer commented on #275
Yes, I would also prefer option 3. I will provide a pull request.

[2020-07-16 09:47] rfourquet commented on #420
I don't know whether this has been discussed, but would it be sensible to have this feature within the `@gap` macro itself? Currently `@gap` seems brittle (by relying on calling `string` on an `Expr`), and for example I would expect (without reading the docstring) `@gap "(1, 2)"` to return a string (because typing `"(1, 2)"` in the GAP REPL gives a string, not a permutation).

It was [mentioned](h

[2020-07-16 09:54] fingolfin commented on #420
Wouldn't that require re-implementing the complete GAP parser in Julia, though? Not exactly a project for an afternoon.

[2020-07-16 10:13] fingolfin commented on #275
I wonder whether option 3 is really a good idea, though, and that it wouldn't produce weird or surprising results. I don't have an example ready, and they might in fact not exist, but I worry about something like the following:
[code]
Of course this actually produces an error right now, as `AbstractRange` has no constructor. But e.g. `AbstractVector` has -- and I think there other concrete subtype

[2020-07-16 10:32] rfourquet commented on #420
Yeah, I must admit that I didn't/couldn't evaluate what it would take; I'm just aware of the examples from the `@gap` docstring or its tests, for which it seems the feature would be relatively easy to implement (function call syntax, array literals).
The general case would be handled by a `gap""` string macro, which would always work, and `@gap` would handle few syntactic constructions which exist

[2020-07-16 10:50] rfourquet commented on #275
That's a good point; it could be made into an error. But I now lean towards option 1.  :)
2) has more guarantees but is more restrictive than 1). With 1), I can get the guarantee of 2) by just restricting the target types to concrete types. On the other hand, 2) is more conservative and can be evolved into 1) (without breaking) if there is request for it.

[2020-07-17 22:22] fingolfin commented on #485
I sped up the basecase for `@btime test_simple()`, from 48ms to 26ms,  via 1d339eacb2a3598f3830c9a9940cad1f3ef7ab4d (by making `GAP.Globals` const... oops). Unfortunately it doesn't really help when `CxxWrap.jl` is loaded.

[2020-07-20 17:07] fingolfin commented on #485
PR #495 should remove the slowdown when CxxWrap.jl is loaded (see also https://github.com/JuliaInterop/CxxWrap.jl/issues/258).

Together with the improvements already made, I think there is not much we can do here with reasonable effort... well, one could try again something which we did in the past but then discarded as it was slower back then: namely, the GAP kernel function `GVarName` maps iden

[2020-07-20 17:42] fingolfin commented on #485
I just realized there is @pure so I'll give that a try

[2020-07-21 10:49] ThomasBreuer commented on #485
@fingolfin If I understand your statement about the costs of accessing variables from `GAP.Globals` right then we should emphasize in the documentation that one should reduce such calls, in particular, that it is advisable to fetch a GAP function once outside a loop, instead of fetching it in each iteration.
There are a few places in the code of GAP.jl which can be improved accordingly.

[2020-07-21 17:10] #485 closed

[2020-07-21 17:46] mohamed-barakat opened #499 "Error thrown by GAP: Error, PackageManager: InstallPackage: <string> must be a string"
After updating to GAP.jl#af58b98 and rebuilding `HomalgProject` I get the following error:

[code]

[2020-07-21 19:46] mohamed-barakat commented on #499
Commit af58b98 causes the regression.

[2020-07-21 20:08] fingolfin commented on #485
@ThomasBreuer agreed on all accounts

[2020-07-21 20:55] fingolfin commented on #499
What does line `src/HomalgProject.jl:164` look like (from the above stack trace)?

[2020-07-21 22:15] mohamed-barakat commented on #499
The first line of:
[code]

[2020-07-22 10:15] ThomasBreuer commented on #499
When I insert a `print` statement in the `__init__` function of HomalgProject such that `GAP.Globals.NameFunction( GAP.Globals.EnhanceRootDirectories )` is shown, I see `GAP: "InstallPackage"` at runtime before the error message appears.
Somehow the administration of GAP's global variables gets corrupted.
(`EnhanceRootDirectories` gets bound when the file `Tools.g` of HomalgProject is read.)

[2020-07-22 14:24] fingolfin commented on #499
Weird. For me it actually dies in another place, in `DownloadPackageFromHomalgProject`, complaining about `GAP.Globals.PKGMAN_Exec` being undefined.... to analyze this further, I inserted this code:
[code]
and the result is:
[code]
Removing the `@pure` annotation from `GVarName` fixes the problem for me.

However, I am still somewhat confused... So first off, after the test failed, I checked and i

[2020-07-22 15:00] fingolfin commented on #488
Some updates (using Julia 1.4.2): With the current GAP.jl master, I now get these improved timings:
[code]

With PR https://github.com/oscar-system/GAP.jl/pull/487 we see a clear improvement by a factor of 5-10:
[code]

If we turn `G` into a `const` var a suggested by @rfourquet we get even better results for all but the last two tests.... With GAP.jlmaster:
[code]
With the GAP.jl PR:
[code]

So a

[2020-07-22 15:12] fingolfin commented on #499
I augmented my printing to also show the process id, and that solved the mystery, I think:
[code]
So, yeah, in different processes we might end up with different gvar ids; simply because permuting the order in which we invoke `GVarName` will also affect the values it returns.

The reason two processes are involved here is, I think, precompilation. So ultimately, the issue is that, Julia requires e

[2020-07-22 15:58] ThomasBreuer commented on #499
The documentation of `Base.@pure` says: "This macro [...] may be subject to changes."
I read this as "Better do not use this macro".

[2020-07-23 10:28] #499 closed

[2020-07-23 12:37] rfourquet commented on #499
Yes this is exactly how the core devs intend this docstring to be read. There is a running joke about how only Jameson knows how to use this macro properly.

I wonder if one solution to keep using `@pure` would be to duplicate the concerned functions: one set which is used mainly/only during precompilation (without `@pure`), and one set of `@pure` functions which we are sure are not used during pr

[2020-07-23 20:38] #486 closed

[2020-07-24 00:20] fingolfin commented on #484
This was fixed in #491

[2020-07-24 00:20] #484 closed

[2020-07-24 16:57] fingolfin commented on #420
So originally, `@gap` was always meant to only work on strings. The fact that it actually works remarkably well for non-strings is only because Julia and GAP happen to have a rather similar syntax, at least on a superficial level.

But yeah, the fact that it sometimes works and sometimes not is an annoying and confusing thing.

We could try to fix it, perhaps it is is not as bad as I thought. Or p

[2020-08-13 13:18] ThomasBreuer opened #509 "problem to load GAP.jl 0.4.3 in Julia 1.3.1"
(see the discussion for oscar-system/Oscar.jl/pull/144)

@rbehrends @fingolfin Perhaps you know immediately what is wrong with GAP.jl 0.4.3.
When I install Julia 1.3.1 and enter
[code]
then `using GAP` runs into an error:
[code]
There is no such problem with GAP.jl 0.4.2 or with the current master branch of GAP.jl.

[2020-08-13 21:13] rbehrends commented on #509
I had to dig into the functioning of `Libdl` the past couple of days for unrelated reasons, so I may have an idea as to what causes the issue. I'll note that I cannot reproduce that on either macOS or Linux myself (using Julia 1.3.1 with a fresh Julia environment), so there is probably more to the issue than meets the eye, possibly some other

One difference between Julia on macOS and Linux are th

[2020-08-14 07:51] ThomasBreuer commented on #509
@rbehrends thanks.
What I found most irritating is that there is no problem with Julia 1.3.1 and the GAP.jl master branch.
I have tried to inspect this further, but now I cannot reproduce the error with Julia 1.3.1 and GAP.jl 0.4.3 anymore; also removing GAP.jl's directory from ~/.julia/packages (forcing a new build of GAP.jl) does not help. What else can I do in order to get the error back?

[2020-08-14 10:42] fingolfin commented on #509
Unfortunately I cannot reproduce this issue locally, which makes it kinda hard to debug. I tried both on macOS and Linux. Note that on Travis, it *does* appear on both of those systems! See e.g. https://travis-ci.com/github/oscar-system/Oscar.jl/builds/179198599

Perhaps it's only on specific systems? Perhaps only if some other software is installed / not installed? Compiler or kernel versions? We

[2020-08-14 10:51] fingolfin commented on #509
If anybody can reproduce this locally, can you try commenting out the line `global JuliaInterface_handle = Libdl.dlopen(JuliaInterface_path)` in src/GAP.jl to see if that helps?

Also, it'd be great to learn the precise OS (e.g. which Linux distro) to see if I can find a similar system; and/or if somebody knows a system where this is reproducible and into which I could SSH...

[2020-08-19 10:00] ThomasBreuer commented on #509
I have tried a completely new installation of Julia 1.3.1:
Start with an empty `~/.julia` directory, unpack the julia archive, start Julia, add the package GAP, and then enter `using GAP`;
but I cannot reproduce the error anymore on my notebook.

(The error still happens on Travis: I had updated oscar-system/Oscar.jl/pull/144, and the same error message appears as before.)

[2020-08-24 11:22] mohamed-barakat opened #511 "InitError: ccall: could not find function GAP_EvalString"
`HomalgProject.jl` fails with `Julia 1.3 - macOS-latest - x64` with the error

[code]

https://github.com/homalg-project/HomalgProject.jl/runs/1021102739

As can be seen from the above link all other test combinations work.

[2020-08-24 12:33] fingolfin commented on #511
This is a duplicate of #509; if you have a way to reproduce this in a place where one can use the system interactively (i.e. not on Travis), that'd be super helpful

[2020-08-24 12:45] mohamed-barakat commented on #511
OK, thank you for the clarification. I looked at #509 but wasn't sure it is the same issue. I do not use Travis anymore and the issue only occurs on Mac OS, so I cannot reproduce it on the server. Is there any Mac OS machine on which you could give me remote access?

[2020-08-28 15:31] fingolfin commented on #509
@rbehrends if you can reproduce this somewhere, is there a way I can get SSH access to that system to debug it? I should now have some limited time for this again.

If we can't figure this soon, I suggest we just mark tests using Julia 1.3.1 as "allowed to fail" *for the time being*, and focus on Julia 1.4 and 1.5; of course we should still understand and ideally resolve the issue with 1.3, but th

[2020-08-29 05:48] rbehrends commented on #509
See my [recent PR for GAP.jl](https://github.com/oscar-system/GAP.jl/pull/512). This fixes the situation on Linux, but exposes a different problem on macOS. However, the macOS problem exists anyway; that we haven't encountered it seems to be the result of implementation-defined behavior, which we should not rely on. Importantly, with the PR, this becomes an easily reproducible problem.

[2020-08-29 06:37] rbehrends commented on #509
Writing this up in detail actually prompted me to look more closely at the remaining issue on macOS. It turns out that two different versions of `JuliaInterface.so` from two different paths were being loaded. By making sure that the same file is used both when the GAP kernel loads it and when GAP.jl loads it fixes the remaining problem.

[2020-08-29 14:33] mohamed-barakat commented on #509
Excellent Reimer :)

[2020-09-04 12:19] fingolfin commented on #511
Closing this as a duplicate

[2020-09-04 12:19] #511 closed

[2020-09-04 12:23] fingolfin commented on #509
Good news, I can now reproduce this on plesken, a Linux machine. It was quite simple, actually (in fact I feel stupid for not trying that sooner, given the evidence *facepalm*):
[code]

I'll investigate PR #512 and alternatives fixes now.

[2020-09-05 07:44] #509 closed

[2020-09-07 09:31] zickgraf opened #516 "GAP.Globals.Display once a GAP error has occured"
Consider the following code and output:
[code]
The string `test3` is not printed. In fact, nothing seems to be printed using `GAP.Globals.Display` after an error has occured. `GAP.Display` seems to work fine.

A related question we are interested in: Which stream is `Display` outputting to? We would like to turn the print formatting off for this stream as we did in #513.

[2020-09-07 14:14] ThomasBreuer commented on #516
@zickgraf Thanks for this report.

I have played around more with this problem (in Julia 1.4.0).
After an error, as shown above, GAP's `View`, `Print`, `Display` do all not print anything to the screen.
However, these functions seem not to work properly also without an error; for example, I get the following.

[code]
Can you reproduce this behaviour?

Concerning the question to which stream the ou

[2020-09-07 15:00] zickgraf commented on #516
Not exactly, but in general yes. The result seems to depend on the width of the terminal.

Observation: If I `Print` a string of length shorter than my terminal width, I get no output at first, but the output is shown later once something exceeds the width of my terminal:
[code]
I assume something buffers the output until some condition (newline?) is reached. If I immediately print a newline, ever

[2020-09-16 09:40] ThomasBreuer opened #517 "macros: bug or feature?"
Is the following behaviour something that should be documented as a feature or a known deficiency of macros, or should the behaviour be changed?
[code]
(I do not like these maros at all.)

[2020-09-16 10:52] ThomasBreuer opened #518 "ordering of initialization steps"
GAP.jl's initialization depends on libgap's `GAP_Initialize`, which runs GAP's initialization.
In particular, autoloading GAP packages is part of this process.
Only afterwards, GAP.jl loads the GAP package JuliaInterface.

As soon as one wants to autoload JuliaInterface (not very likely) or a GAP package that depends on JuliaInterface (might become more likely), calling `using GAP` runs into the f

[2020-09-16 13:25] ThomasBreuer commented on #518
Here is another instance of the same problem:
When one starts GAP such that the name of an input file belongs to the command line then this file will be read before the initialization process has loaded JuliaInterface.
Thus one cannot use the GAP-Julia integration in the input file.
(Explicitly loading JuliaInterface in the input file leads to the above error, and GAP crashes.)

[2020-09-16 13:28] ThomasBreuer commented on #476
@fingolfin Can this issue be closed?

[2020-09-16 17:51] mohamed-barakat opened #519 "Error thrown by GAP: Error, DivideError: integer division error"
I suspect this is an error in `GAP.jl` which I am unfortunately unable to debug:

The underlying GAP throws an error `DivideError: integer division error` which actually comes from `Julia`.

I am running the released versions of all involved packages:

[code]

[2020-09-17 08:30] ThomasBreuer commented on #519
I can reproduce the error and try to fix it.

[2020-09-17 08:49] mohamed-barakat commented on #519
Maybe the real source of the error is `Singular` which I call via `Singular.call_interpreter` which gets imported into `Singular.jl` through this line

https://github.com/oscar-system/Singular.jl/blob/master/src/LibSingular.jl#L8

[2020-09-17 10:00] ThomasBreuer commented on #519
Yes, the error happens in a call to Singular, which is in the code line
[code]
of the function `RadicalDecomposition` in the file `homalg_project/RingsForHomalg/gap/SingularTools.gi`.
(The argument `mat` is `<A non-zero right regular 4 x 1 matrix over an external ring>` in this situation.)

[2020-09-17 10:18] mohamed-barakat commented on #519
Thank you very much, Thomas.

This also happens when I call `julia> UseExternalSingular(true)` before defining the field of rationals.

So my question is: Is there a way to improve the error message which `GAP.jl` returns?

[2020-09-17 13:54] ThomasBreuer commented on #519
Concerning improved GAP error messages, see pull request #520 .
(For testing what this pull request, you can enter
[code]
before calling `ConstructibleImage`.)

[2020-09-17 14:03] mohamed-barakat commented on #519
Excellent, thank you very much @ThomasBreuer.

[2020-09-17 17:37] ThomasBreuer commented on #474
done by #478

[2020-09-17 17:37] #474 closed

[2020-09-18 10:09] ThomasBreuer opened #521 "Show Julia error backtrace in GAP"
This is a counterpart of issue #519, which requested to show GAP error backtrace in Julia.
It would be good to show also Julia error backrtace in GAP.
For example, pure Julia shows the following.
[code]
Julia called from a GAP session shows the following (without the Julia stacktrace information).
[code]

Double indirection (call Julia from GAP from Julia) in a Julia session shows the following (w

[2020-09-19 11:18] mohamed-barakat opened #523 "Automatically convert Julia strings into GAP strings"
It would be quite convenient if Julia strings are automatically converted during GAP function calls to GAP strings, i.e., if the current default behavior

[code]

 could be changed to

[code]

[2020-09-30 07:22] fingolfin commented on #519
What's the status of this issue?

[2020-09-30 07:23] fingolfin commented on #517
I'd consider the behavior of the 3rd example to be a bug.

[2020-09-30 07:26] mohamed-barakat commented on #519
This lead to the two `Singular.jl` issues

* https://github.com/oscar-system/Singular.jl/issues/270
* https://github.com/oscar-system/Singular.jl/issues/271

and can be closed.

[2020-09-30 07:26] #519 closed

[2020-09-30 09:19] ThomasBreuer commented on #517
@fingolfin I will create a pull request for fixing the 3rd example.

[2020-09-30 09:39] fingolfin commented on #523
The problem with that idea is that it doesn't really help with the performance issue (mostly extra GC stress): in your second code variant, we *always* either convert the string (first case) or else must create a temporary wrapper object, just to avoid the conversion. Well, OK, in theory, if one codes this very carefully, one might be able to arrange it so that the Julia compiled can avoid materia

[2020-09-30 09:40] mohamed-barakat commented on #519
I forgot to mention that this issue also resulted in the PR #520, which was merged yesterday :)

Thanks, @ThomasBreuer.

[2020-09-30 17:01] ThomasBreuer opened #527 "inconsistent handling of null characters in strings in GAP and Julia"
Null characters seem to be allowed in Julia strings.
[code]
The conversion to GAP cuts the string at the first null character.
(Is this a bug or a feature?)
[code]
GAP itself seems to have problems with null characters in strings.
(Is this a bug or a feature?)
[code]
Another inconsistency:
GAP supports [the notation `\0xYZ`, with hex digits `Y` and `Z`](https://www.gap-system.org/Manuals/doc/ref/c

[2020-10-01 12:16] fingolfin commented on #527
The conversion to GAP which cuts the string is a bug. GAP is supposed to work fine with strings that contain null bytes.

Printing strings with null bytes is not quite well-defined, though -- so one can certainly quibble about whether the way GAP prints them is buggy or not. But I am convinced it is not intentional (so I'd not argue against calling it a bug!). Indeed, this is because at the lowest

[2020-10-02 08:10] ThomasBreuer commented on #527
@fingolfin Thanks for the feedback.
The conversion to GAP just calls libgap's `GAP_MakeString`.
My interpretation of GAP's file `src/stringobj.h` is that one would have to call GAP's `MakeStringWithLen` in order to create a string that can contain null characters, but this function cannot be accessed via libgap.
So what is a suitable way to fix the problem: first extend libgap and then use the new

[2020-10-02 09:19] ThomasBreuer opened #528 "side-effect of error traceback"
Pull request #520 is less harmless as it seemed to be.

Changing the value of `AlwaysPrintTracebackOnError` affects the behaviour of GAP's `Test`:
If errors occur in a GAP testfile then differences are reported because the output now looks differently.
As an example, try the following GAP input.
[code]
I think that this problem should be fixed on the GAP side, for example by setting `AlwaysPrintTr

[2020-10-02 10:56] ThomasBreuer commented on #447
I cannot reproduce this problem with the current GAP.jl (and Julia 1.4).

[2020-10-02 10:56] #447 closed

[2020-10-02 11:19] ThomasBreuer commented on #237
@fingolfin Since this issue is still open:
Julia's screen output is interesting in general, not only in the case of error messages.
For example, the output of
[code]
is shown on the screen but does not occur in a GAP logfile.
There should be a way to redirect all printed output (of GAP and Julia, in a GAP session and in a Julia session),
but where is the right place to force this behaviour?

(Can

[2020-10-05 08:44] fingolfin opened #529 "Feature request: add more Julia conversion constructors, e.g. for `Set`"
Just came across this code: `Set{Int}(GAP.gap_to_julia(GAP.Globals.MovedPoints(H.X)))` would be nice if one could rewrite this as e.g. `Set{Int}(GAP.Globals.MovedPoints(H.X))`

[2020-10-05 08:54] rfourquet commented on #529
Can iteration be defined on `GAP.Globals.MovedPoints(H.X))` ? It would be enough for the `Set`/`Set{Int}` constructors to accept it.

[2020-10-05 09:45] ThomasBreuer commented on #529
Concerning iteration: The return value of `GAP.Globals.MovedPoints` is a GAP list. Julia just sees that it is a GAP object. Without more type information on the Julia side, defining iteration for this object would require to define iteration for all GAP objects. This would be possible, by delegating to an iterator on the GAP side, but this might lead to "misuses" in the sense that this feature is

[2020-10-05 09:49] fingolfin opened #530 "Feature: add super-fast Julia testers for GAP filters"
... which bypasses the generic code to call into GAP functions, etc., and instead just looks up the relevant bit(s) in the GAP types.

Of course make sure to benchmark this carefully before/after.

Application: having things like `isfinite(G::GAPGroup) = GAP.Globals.IsFinite(G.X)` be as fast as possible (at least as fast as in GAP itself -- benchmark!)

[2020-10-05 11:20] fingolfin opened #531 "Fix convert(GapObj, big(2)^100)"
With the current GAP.jl master, I observe this:
[code]

[2020-10-05 12:24] ThomasBreuer commented on #531
The error appears because no method for `GAP.julia_to_gap( 1, recursive = false )` is available.
Pull request #532 should fix this.

However, does this solve the problem with `convert(GapObj, 1)`?
(The result of the conversion cannot be a `GapObj`.)

[2020-10-05 13:37] fingolfin commented on #531
OK, 1 is a special case in this regard; I've changed the issue to talk about `convert(GapObj, big(2)^100)` to avoid this additional complication.

[2020-10-06 09:30] fingolfin commented on #528
Yes I can reproduce the crash, and will look into that:
[code]

I think on the long run, what we want is perhaps to instead replace GAP's `ErrorInner` by a custom function of our own making, where we have full control over e.g. backtraces; and then perhaps not just print them, but somehow "integrate" them with the backtraces in Julia exceptions... ??! That's admittedly a rather fuzzy and imprecise

[2020-10-06 15:49] fingolfin commented on #528
The crash occurs because `Obj func = FUNC_LVARS(context);` inside `PRINT_CURRENT_STATEMENT` produces a NULL pointer. I have not yet investigated why that is.

[2020-10-07 08:13] marabelotti opened #533 "during build: LoadError: could not load library "libjulia""
I just tried to add Oscar but it fails building GAP.jl:

[code]

[2020-10-07 08:22] marabelotti commented on #533
I just checked and the error is gone on julia-1.5

[2020-10-07 08:37] fingolfin commented on #533
Huh, that's strange. I assume this is on Linux, which distro? How was julia installed? Is there `/usr/lib/libjulia.so` ?

Thing is, we are invoking `julia-config.jl` (normally bundled with Julia) to query the compiler flags we need. And this script is producing the error.

[2020-10-07 09:02] marabelotti commented on #533
Yes it is Ubuntu 20.04.1 and I installed julia using the packet manager.
The file is here: `/usr/bin/../lib/x86_64-linux-gnu/libjulia.so.1`

[2020-10-07 09:56] fingolfin commented on #533
Ahh, of course. &lt;rant>So most likely this is Debian and/or Ubuntu once again messing with a package "because they know best" and w/o involving upstream, and then breaking it in the process.&lt;/rant>

This really seems like a bug in the Debian package. Not much we can do, other than trying to come up with some crazy Debian specific hack to resolve it, I am afraid.  Which we might have to do in

[2020-10-07 09:59] ThomasBreuer commented on #533
I have also Ubuntu 20.04 on my machine, and it has a julia 1.4.1 installed via `apt install julia`.
(I think I have never used this julia installation.)
The relevant calls from GAP's `configure` seem to be
[code]
Both work on my machine, but in the above error report only the first of them works.

[2020-10-07 10:24] benlorenz commented on #533
Is there only `libjulia.so.1` or is there a`libjulia.so` symlink as well? If not, maybe the `libjulia-dev` package needs to be installed to link against `libjulia`.

[2020-10-07 11:08] fingolfin commented on #533
@benlorenz good point. @ThomasBreuer tells me he has libjulia-devel installed  @marabelotti can you verify?

If that's it, I take back all complaints against Debian and redirect them at julia-config.jl ;-) resp. ourselves... Good thing is this will be resolved once we can use GAP_jll

[2020-10-07 14:44] fingolfin commented on #531
From my perspective this is fixed. Yes, `convert(GapObj, 1)` is problematic in that it doesn't return a `GapObj` but that's for now not a serious issue.

[2020-10-07 14:44] #531 closed

[2020-10-09 10:11] fingolfin commented on #527
We can actually call `MakeStringWithLen` right now; it just isn't on the list of functions explicitly under the stability guarantees provided by things in libgap. But since we control GAP, we are safe to use it (`MakeStringWithLen` won't go away, I can promise that). We already are calling a bunch of other things outside the libgap guarantee. (For some of them, it'd make sense to eventually add th

[2020-10-09 11:36] ThomasBreuer commented on #527
@fingolfin Thanks.
I will create a pull request for GAP.jl
(and also one for GAP, concerning the extension of libgap; I think it is better to make such guarantees explicit --I would never have dared to state that I control GAP).

[2020-10-09 11:57] ThomasBreuer commented on #529
I understand the request for a `Set{T}` method in such a way that the functionality of GAP's function `Set` gets called;
the argument can be any GAP list or collection, for example a group object.
(In the case of a GAP domain, the code should call `Elements` in order to avoid creating additionally a mutable GAP list.)
As usual, the default should be recursive conversion.

What is meant with "e.g."

[2020-10-09 12:19] ThomasBreuer commented on #517
can be closed because of #525

[2020-10-09 12:19] #517 closed

[2020-10-09 14:47] fingolfin commented on #533
@marabelotti can you confirm that installing the system package `libjulia-devel` resolves the issue?

[2020-10-09 14:54] fingolfin commented on #529
Whether it calls `Set` or `AsSet` (for which `Elements` is a synonym) or some Julia functions to remove duplicates doesn't matter from my POV. But the user visible result would be similar to what one gets when using a Julia vector as input:
[code]
However, this all comes with a caveat: it is OK for `Set{T}` where T is a regular Julia type such as Int, BigInt, String, etc;  what won't work well in

[2020-10-09 14:59] fingolfin commented on #518
So we really should load JuliaInterface earlier.

We discussed this a bit in a Jitsi meeting. I stumbled over related issues when working on the `initialize` code -- part of the problem there was that GAP starts by reading `init.g`, which does a lot, including the processing of the command line arguments -- in fact we might end up quitting in there, if the user passed a file that quits.

One trick

[2020-10-09 16:22] marabelotti commented on #533
Sorry for the late reply! I've just installed the  ```libjulia-dev```  package and yes everything works!

[2020-10-13 08:05] fingolfin commented on #533
OK, then I think this can be closed for now. Thank you again for the report and getting back to us!

[2020-10-13 08:05] #533 closed

[2020-10-15 21:55] ThomasBreuer commented on #529
@fingolfin Julia `Set`s of `GapObj`s are really problematic.
Already without a `Set{T}` constructor for a `GapObj`, we run into logical problems, as follows. (One may need several attempts in order to reproduce this.)
[code]

[2020-10-15 23:10] fingolfin commented on #529
Regarding the quirk with two non-equal sets that should be equal: most likely (I am not at my computer so can't check right now) that's because we don't provide a hash function for GapObj, so a default one is used, which is wrong as we implement a method for ==. Solution: add one; the only "legal" way to do that Is to use a constant one, say 0. Yes this kills performance of Set{GapObj} but (a) tha

[2020-10-16 09:12] rfourquet commented on #529
Sorry for the naive question: what is the main difficulty with providing a `hash` method for GAP objects? Could this be done incrementally by defining on the Julia side `hash` methods based on the GAP type (inspecting the values from Julia)? This would probably involve a big if/elseif chain (or tree?), so I'm not sure how practical this would be. Would it make sense to add hashing methods on the G